---
layout: default
title: Home
permalink: /
---

<div class="jumbotron jumbotron-fluid d-flex align-items-center m-0">
  <div class="container ">
    <!-- <h1 class="display-4 text-uppercase font-weight-bold text-white text-right">
      Технически<br />
      доброто до вас.
    </h1> -->
  </div>
</div>
<div class="container-fluid">
  <!-- THE SECTION WITH SERVICES -->

  <section class="services">
    <h3 class="text-white">Ние предлагаме:</h3>
    <div class="row d-flex pl-5">
      <div class="col-lg-4">
        <ul class="list-unstyled">
          <h5 class="text-white">Изработване на</h5>
          <li class="text-uppercase font-weight-bold">Транспортни системи</li>
          <li class="text-uppercase font-weight-bold">
            Индустриални работни места
          </li>
          <li class="text-uppercase font-weight-bold">
            Пневматични и електрически табла
          </li>
        </ul>
      </div>

      <div class="col-lg-8 bg-primary ">
        <ul class="list-unstyled text-white">
          <h5>Доставка на елементи за</h5>
          <li class="text-uppercase font-weight-bold">Автоматизация</li>
          <li class="text-uppercase font-weight-bold">Инженеринг</li>
          <li class="text-uppercase font-weight-bold">Автомобилна индустрия</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- THE SECTION WITH SECONDARY MENU -->

  <section class="secondary-menu">
    <div class="row">
      <div class="col-lg-4">
        <h5 class="text-uppercase font-weight-bold">Продукти</h5>
        <ul class="list-unstyled text-white">
          <li><a href="#">Пневматика</a></li>
          <li><a href="#">Профили</a></li>
          <li><a href="#">Линейни задвижвания</a></li>
          <li><a href="#">Арматура</a></li>
          <li><a href="#">Вибратори</a></li>
        </ul>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
    </div>
  </section>

  <!-- THE SECTION WITH THE ADVANTAGES -->
  <section class="advantages">
    <div class="row d-flex">
      <div class="advantage-text col-lg-5">
        <h3>Предимства</h3>
        <ul class="list-unstyled">
          <li class="media">
            <img src="..." class="mr-3" alt="..." />
            <div class="media-body">
              <h6 class="mt-0 mb-1">Технически решения</h6>
              Предлагаме на българския пазар както продукти, така и цялостни
              технически решения на разумни цени.
            </div>
          </li>
          <li class="media my-4">
            <img src="..." class="mr-3" alt="..." />
            <div class="media-body">
              <h6 class="mt-0 mb-1">Бърза доставка</h6>
              <p>
                Нашата дистрибуторска мрежа и складова наличност ни позволяват
                да бъдем винаги близо до Вас.
              </p>
            </div>
          </li>
          <li class="media">
            <img src="..." class="mr-3" alt="..." />
            <div class="media-body">
              <h6 class="mt-0 mb-1">Страст към усеха</h6>
              Винаги се стремим към съвършенство, защото сме емоционално и
              интелектуално свързани с работата си.
            </div>
          </li>
        </ul>
      </div>

      <div class="advantage-image col-lg-7">
        <img
          src="/assets/img/home/photo 2.jpg"
          alt="a close up picture of an industrial machine"
        />
      </div>
    </div>
  </section>

  <!-- SECTION WITH NEWS -->

  <section class="news">
    <!-- <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
       <div class="carousel-inner"> 
        <div class="carousel-item active d-flex">
          {% include cards.html %} {% include cards.html %} {% include
          cards.html %} {% include cards.html %}
        </div>
        <div class="carousel-item  d-flex">
          {% include cards.html %} {% include cards.html %} {% include
          cards.html %} {% include cards.html %}
        </div>
        <div class="carousel-item  d-flex">
          {% include cards.html %} {% include cards.html %} {% include
          cards.html %} {% include cards.html %}
        </div>
      </div> 
    </div> -->
  </section>
  <!-- SECTION WITH PARTNERS LOGOS -->
  <section class="partners"></section>
</div>
