<footer class="site-footer text-white">
  <div class="row">
    <section class="logo">
      <img src="" alt="technocom logo" />
      <p class="text-uppercase">Технически доброто до вас.</p>
    </section>

    <section class="footer-nav">
      <h6 class="text-white text-uppercase">Техноком Ко</h6>
      <nav>
        <ul class="list-unstyled">
          <li><a href="#" class="menu-item">Продукти</a></li>
          <li><a href="#" class="menu-item">Инженеринг</a></li>
          <li><a href="#" class="menu-item">Автомобилна Индустрия</a></li>
          <li><a href="#" class="menu-item">Компанията</a></li>
          <li><a href="#" class="menu-item">Новини</a></li>
          <li><a href="#" class="menu-item">Контакти</a></li>
        </ul>
      </nav>
    </section>

    <section class="address">
      <h6 class="text-white text-uppercase">Адрес</h6>
    </section>

    <section class="contacts">
      <h6 class="text-white text-uppercase">Контакти</h6>
      <h6>+ 359 32 965 088</h6>
      <p>+ 359 888 332 968</p>
      <p>+ 359 879 497 035</p>
      <p>+ 359 894 530 453</p>
      <p>info@technocom.bg</p>
    </section>
  </div>

  <div class="row">
    <p>&copy;2019 Technocom. Всички права запазени.</p>
    <a href="#" class="menu-item">Поверителност</a>
    <ul class="social-media list-unstyled">
      <li>
        <a href="#" class="menu-item"><span>Facebook</span></a>
      </li>
      <li>
        <a href="#" class="menu-item"><span>Instagram</span></a>
      </li>
    </ul>
  </div>
</footer>
