<div class="row no-gutters">
  <section class="logo col-lg-3">
    <img src="{{ site.baseurl }}/assets/img/logo 2.png" alt="technocom logo" />
    <!-- <p class="text-uppercase">Технически доброто до вас.</p>
    <img
      src="/assets/img/Flag_of_Bulgaria.svg"
      alt="bulgarian flag"
      class="bg-flag"
    /> -->
  </section>

  <section class="footer-nav col-lg-3">
    <h5 class="text-white text-uppercase mb-4">Техноком Ко</h5>
    <nav>
      <ul class="list-unstyled">
        <li><a href="#" class="menu-item">Продукти</a></li>
        <li><a href="#" class="menu-item">Инженеринг</a></li>
        <li><a href="#" class="menu-item">Автомобилна Индустрия</a></li>
        <li><a href="#" class="menu-item">Компанията</a></li>
        <li><a href="#" class="menu-item">Новини</a></li>
        <li><a href="#" class="menu-item">Контакти</a></li>
      </ul>
    </nav>
  </section>

  <section class="address col-lg-3">
    <h5 class="text-white text-uppercase mb-4">Адрес</h5>
    <div class="written-address">
      <p class="company-name font-weight-bold">ТехноКом Ко ЕООД</p>
      <p>Пловдив 4003, България</p>
      <p>бул. "Васил Левски" 214</p>
    </div>
    <div class="work-hours">
      <p class="text-white text-uppercase font-weight-bold mt-3">
        Работно време
      </p>
      <p>Пон.-Петък: 8:30 - 17:00</p>
    </div>
  </section>

  <section class="contacts col-lg-3">
    <h5 class="text-white text-uppercase mb-4">Контакти</h5>
    <ul class="list-unstyled">
      <li class="first-child font-weight-bold">
        <span>+ 359 32 965 088</span>
      </li>
      <li>+ 359 888 332 968</li>
      <li>+ 359 879 497 035</li>
      <li>+ 359 894 530 453</li>
    </ul>
    <a href="mailto:ivana.p.kostova@gmail.com" class="companymail"
      >info@technocom.bg
    </a>
  </section>
</div>

<div
  class="row no-gutters copyright-social d-flex justify-content-between align-items-start mt-5"
>
  <span class="copyright d-flex">
    <p class="m-0">
      &copy;2019 Technocom. Всички права запазени.
    </p>
    <a href="{{ site.baseurl }}/privacy/index.html" class="menu-item"
      >Поверителност</a
    >
  </span>

  <ul class="social-media list-unstyled d-flex">
    <li>
      <a href="#" class="menu-item fa-facebook"><span>Facebook</span></a>
    </li>
    <li>
      <a href="#" class="menu-item fa-linkedin"><span>LinkedIn</span></a>
    </li>
  </ul>
</div>
