<div class="container-fluid p-0">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="row no-gutters justify-content-between">
        <section class="logo d-flex flex-column col-2">
          <img
            src="{{ site.baseurl }}/assets/img/footer/tk_logo.png"
            alt="technocom logo FOR FOOTER"
          />

          <a
            href="mailto:ivana.p.kostova@gmail.com"
            class="companymail mt-auto"
          >
            <span class="footer-icon-container">
              <img
                class="footer-icon"
                src="{{ site.baseurl }}/assets/img/footer/email-icon.png"
                alt="an icon of an email"
              /> </span
            >info@technocom.bg
          </a>
        </section>

        <section class="footer-nav col-2">
          <h5 class="text-white mb-4">ТЕХНОКОМ Ко</h5>
          <nav>
            <ul class="list-unstyled">
              <li>
                <a href="{{ site.baseurl }}/products.html" class="menu-item"
                  >Продукти</a
                >
              </li>
              <li>
                <a href="{{ site.baseurl }}/engineering.html" class="menu-item"
                  >Инженеринг</a
                >
              </li>
              <li>
                <a
                  href="{{ site.baseurl }}/auto-industry.html"
                  class="menu-item"
                  >Автомобилна Индустрия</a
                >
              </li>
              <li>
                <a href="{{ site.baseurl }}/about/index.html" class="menu-item"
                  >Компанията</a
                >
              </li>
              <li>
                <a
                  href="{{ site.baseurl }}/news/new-products.html"
                  class="menu-item"
                  >Новини</a
                >
              </li>
              <li>
                <a
                  href="{{ site.baseurl }}/contact/index.html"
                  class="menu-item"
                  >Контакти</a
                >
              </li>
            </ul>
          </nav>
        </section>

        <section class="address col-2">
          <h5 class="text-white text-uppercase mb-4">Адрес</h5>
          <div class="written-address mb-4">
            <span class="company-name font-weight-bold footer-icon-container">
              <img
                class="footer-icon"
                src="{{ site.baseurl }}/assets/img/footer/location-icon.png"
                alt="an icon for location"
              />
              ТЕХНОКОМ Ко ЕООД
            </span>
            <p class="mt-2">Пловдив 4003, България</p>
            <p>бул. "Васил Левски" 214</p>
          </div>
          <div class="work-hours mt-3">
            <p class="text-white text-uppercase font-weight-bold mb-2">
              Работно време
            </p>
            <p>Пон.-Петък: 8:30 - 17:00</p>
            <p class="mt-1">Събота-Неделя: Почивни дни</p>
          </div>
        </section>

        <section class="contacts col-2">
          <h5 class="text-white text-uppercase mb-4">Контакти</h5>
          <ul class="list-unstyled">
            <li class="first-child font-weight-bold">
              <span class="footer-icon-container">
                <img
                  class="footer-icon"
                  src="{{ site.baseurl }}/assets/img/footer/phone-icon.png"
                  alt="an icon of a phone"
                />
                + 359 32 965 088
              </span>
            </li>
            <li class="second-child font-weight-bold">
              <span class="footer-icon-container">
                <img
                  class="footer-icon"
                  src="{{ site.baseurl }}/assets/img/footer/fax.png"
                  alt="an icon of a fax machine"
                />
                + 359 32 965 099</span
              >
            </li>
            <li>+ 359 888 221 437</li>
            <li>+ 359 888 332 968</li>
            <li>+ 359 879 497 035</li>
            <li>+ 359 894 530 453</li>
          </ul>
        </section>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row footer-copyright mt-5">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="copyright-social mx-0">
        <img
          class="bulgarian-flag"
          src="{{ site.baseurl }}/assets/img/footer/zname.png"
          alt="bulgarian flag"
        />
        <div
          class="d-flex justify-content-between align-items-center flex-grow-1 pb-2"
        >
          <span class="copyright d-flex">
            <p class="m-0">
              &copy;2020 Technocom Co. Всички права запазени.
            </p>
            <a href="{{ site.baseurl }}/privacy/index.html" class="menu-item">
              Поверителност
            </a>
          </span>

          <ul class="social-media list-unstyled d-flex align-items-center mb-0">
            <li>
              <a href="https://www.facebook.com/" class="menu-item fa-facebook"
                ><span class="d-none">Facebook</span></a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com" class="menu-item fa-linkedin"
                ><span class="d-none">LinkedIn</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <a
        href="#"
        class="button-to-top d-flex justify-content-center align-items-center"
      >
        <img src="{{ site.baseurl }}/assets/img/carets/down-arrow.svg" alt="" />

        <span class="d-none">To top</span>
      </a>
    </div>
  </div>
</div>
