<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Navbar brand -->
  <a class="navbar-brand text-uppercase" href="#">ТЕХНОКОМко</a>

  <!-- Collapse button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent2"
    aria-controls="navbarSupportedContent2"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent2">
    <!-- Links -->
    <ul class="navbar-nav mx-auto">
      <!-- Products menu -->
      <li class="nav-item dropdown mx-2">
        <a
          class="nav-link dropdown-toggle text-uppercase"
          id="navbarDropdownMenuLink2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Продукти
          <span class="sr-only">(current)</span>
        </a>

        <div
          class="dropdown-menu w-100 border"
          aria-labelledby="navbarDropdownMenuLink2"
        >
          <div class="row no-gutters">
            <div class="col-sm-6 col-md-6 col-lg col-xl mb-5">
              <h6 class="text-uppercase text-white border-bottom pb-3 pt-3 ">
                <a class="menu-item" href="#!">Пневматика</a>
              </h6>
              <ul class="list-unstyled">
                <li>
                  <a class="menu-item" href="#!">
                    Движение
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Управление
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Подготовка
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Свързване
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-sm-6 col-md-6 col-lg col-xl mb-5">
              <h6 class="text-uppercase text-white border-bottom pb-3 pt-3">
                <a class="menu-item" href="#!">Профили</a>
              </h6>
              <ul class="list-unstyled">
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Алуминиеви профили
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Съединения
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Аксесоари
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    LEAN системи
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-sm-6 col-md-6 col-lg col-xl mb-5">
              <h6 class="text-uppercase text-white border-bottom pb-3 pt-3">
                <a class="menu-item" href="#!">Линейни задвижвания</a>
              </h6>
              <ul class="list-unstyled">
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Направляващи
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    СВД
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Зъбни рейки
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Модулни системи
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-sm-6 col-md-6 col-lg col-xl mb-5">
              <h6 class="text-uppercase text-white border-bottom pb-3 pt-3">
                <a class="menu-item" href="#!">Арматура</a>
              </h6>
              <ul class="list-unstyled">
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Спирателна
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Регулираща
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Магнетвентили
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Санитарна
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-sm-6 col-md-6 col-lg col-xl mb-5">
              <h6 class="text-uppercase text-white border-bottom pb-3 pt-3">
                <a class="menu-item" href="#!">Вибратори</a>
              </h6>
              <ul class="list-unstyled">
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Пневматични
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Електрически
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Аератори
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    За бетон
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <!-- Engineering menu -->
      <li class="nav-item dropdown mx-2">
        <a
          class="nav-link dropdown-toggle text-uppercase"
          id="navbarDropdownMenuLink3"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Инженеринг
        </a>

        <div
          class="dropdown-menu w-100 border"
          aria-labelledby="navbarDropdownMenuLink3"
        >
          <div class="row no-gutters">
            <div class="col-md col-lg-4 col-xl-4 mb-5">
              <h6 class="text-uppercase text-white border-bottom pb-3 pt-3">
                <a class="menu-item" href="#!">Транспортни системи</a>
              </h6>
              <ul class="list-unstyled">
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Лентови транспортни системи
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Ролкови транспортни системи
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Елеваторни транспортни системи
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Компоненти
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md col-lg-4 col-xl-4 mb-5">
              <h6 class="text-uppercase text-white border-bottom pb-3 pt-3">
                <a class="menu-item" href="#!">Индустриални работни места</a>
              </h6>
              <ul class="list-unstyled">
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Индустриални работни маси
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Индустриални колички
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Други
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md col-lg-4 col-xl-4 mb-5">
              <h6 class="text-uppercase text-white border-bottom pb-3 pt-3">
                <a class="menu-item" href="#!"
                  >Пневматични и електрически табла</a
                >
              </h6>
              <ul class="list-unstyled">
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Пневматични
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Електрически
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <!-- Auto industry menu -->
      <li class="nav-item dropdown mx-2">
        <a
          class="nav-link dropdown-toggle text-uppercase"
          id="navbarDropdownMenuLink4"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Авто индустрия</a
        >
        <div
          class="dropdown-menu w-100 border"
          aria-labelledby="navbarDropdownMenuLink4"
        >
          <div class="row no-gutters">
            <div class="col-md col-lg-4 col-xl-4 mb-5">
              <h6 class="text-uppercase text-white border-bottom pb-3 pt-3">
                <a class="menu-item" href="#!">Клампи</a>
              </h6>
              <ul class="list-unstyled">
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Заключващи единици
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Центриращи единици
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Заключващи и центриращи единици
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Хващачи /грипери/
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Въртящи единици
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Маркиращи единици
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Електрически единици
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md col-lg-4 col-xl-4 mb-5">
              <h6 class="text-uppercase text-white border-bottom pb-3 pt-3">
                <a class="menu-item" href="#!">GR8 модулна система</a>
              </h6>
              <ul class="list-unstyled">
                <li>
                  <a class="menu-item pl-0" href="#!">
                    GR8
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    GR8SK
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md col-lg-4 col-xl-4 mb-5">
              <h6 class="text-uppercase text-white border-bottom pb-3 pt-3">
                <a class="menu-item" href="#!">Аксесоари</a>
              </h6>
              <ul class="list-unstyled">
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Клампови челюсти
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Сензори
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    UBK система
                  </a>
                </li>
                <li>
                  <a class="menu-item pl-0" href="#!">
                    Ръчно управление
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <!-- THE COMPANY menu -->
      <li class="nav-item dropdown mx-2">
        <a
          class="nav-link dropdown-toggle text-uppercase"
          id="navbarDropdownMenuLink5"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Компанията
        </a>
        <div
          class="dropdown-menu border"
          aria-labelledby="navbarDropdownMenuLink5"
        >
          <ul class="list-unstyled">
            <li class="pb-2 pt-2 border-bottom">
              <a class="menu-item pl-0" href="#!">
                Мисия
              </a>
            </li>
            <li class="pb-2 pt-2">
              <a class="menu-item pl-0" href="#!">
                Партньори
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- News menu -->
      <li class="nav-item dropdown mx-2">
        <a
          class="nav-link dropdown-toggle text-uppercase"
          id="navbarDropdownMenuLink6"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Новини
        </a>
        <div
          class="dropdown-menu border"
          aria-labelledby="navbarDropdownMenuLink6"
        >
          <ul class="list-unstyled">
            <li class="pb-2 pt-2 border-bottom">
              <a class="menu-item pl-0" href="#!">
                Продукти
              </a>
            </li>
            <li class="pb-2 pt-2">
              <a class="menu-item pl-0" href="#!">
                Събития
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Contacts menu item -->
      <li class="nav-item">
        <a class="nav-link text-uppercase">Контакти </a>
      </li>
    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->

  <!-- Search button -->

  <input type="checkbox" name="search-button" id="search-button" />
  <label for="search-button" class="fas" id="search-toggle"
    ><span>Search</span>
  </label>

  <div class="search-bar-hidden">
    <form>
      <input
        type="text"
        name="search"
        placeholder="Потърсете продукт, код, новина.."
      />
    </form>
  </div>
</nav>
<!-- Navbar -->
