<!-- Mobile Navbar visible untill large width: 992px-->
<nav
class="navbar-expand-lg navbar-dark fixed-top p-0 row no-gutters d-lg-none w-100 
{% if page.title != 'Техноком Ко - Технически доброто до Вас.' %} bg-dark {% endif %}"
id="navigation-mobile">
  <!-- Navbar brand -->
  <span class="logo-container d-flex align-items-center col-8">
    <a class="navbar-brand text-uppercase" href="{{ site.baseurl }}/">
      <img
        id="head-logo-white"
        src="{{ site.baseurl }}/assets/img/bialo logo.png"
        alt="TechnokomKo-logo"/>
    </a>
  </span>

    <!-- Search button -->
  <div class="search-bar col-2 bg-primary">
      <a class="btn border-0 p-lg-2 p-xl-3" id="dropdownMobileButton">
        <div class="search-button">
          <div class="search-icon">
            <span class="d-none">Search</span>
          </div>
        </div>
      </a>

      <div class="search-bar-hidden border-0 w-100" id="search-bar-hidden-mobile"> 
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <form action="GET" autocomplete="on" class="mt-2 border-0 d-flex align-items-center">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control py-2 bg-transparent border-0"
                  placeholder="Потърсете..."
                  aria-label="Search"
                  aria-describedby="button-addon2"
                />
                <div class="input-group-append">
                  <button
                    class="btn ml-auto"
                    type="submit"
                    id="button-addon2"
                  >
                    <img src="{{ site.baseurl }}/assets/img/home/icon 1.png" alt="search icon">
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
  </div>
  <!-- Search button -->

  <!-- Collapse button -->
  <button
    class="navbar-toggler col-2"
    id='mobileNavButton'
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent2"
    aria-controls="navbarSupportedContent2"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse navbar-mobile-collapse" id="navbarSupportedContent2">
    <!-- Links -->
    <ul class="navbar-nav accordion" id='accordionMenu'>
      <!-- Products menu -->
      <span class='menu-text'>Меню</span>
      <li class="nav-item">
        <a
          href='javascript:void(0)'
          class="nav-link dropdown-toggle"
          onclick="openNav(productsNav)"
        >
          Продукти
        </a>
      </li>

      <!-- Engineering menu -->
      <li class="nav-item">
        <a
          href='javascript:void(0)'
          class="nav-link dropdown-toggle"
          onclick="openNav(engineeringNav)"
        >
          Инженеринг
        </a>
      </li>

      <!-- Auto industry menu -->
      <li class="nav-item " >
        <a
          href='javascript:void(0)'
          class="nav-link dropdown-toggle"
          onclick="openNav(autoNav)"
        >
          Авто индустрия
        </a>
        
      </li>
        
      <!-- THE COMPANY menu -->
      <li class="nav-item">
        <a
        class="nav-link nav-link-secondary"
        href="{{ site.baseurl }}/about/index.html"
          >Компанията
        </a>
        
      </li>

      <!-- News menu -->
      <li class="nav-item">
        <a
        class="nav-link nav-link-secondary"
        href="{{ site.baseurl }}/news/new-products.html"
          >Новини
        </a>
       
      </li>

      <!-- Contacts menu item -->
      <li class="nav-item">
        <a
          class="nav-link nav-link-secondary"
          href="{{ site.baseurl }}/contact/index.html"
          >Контакти
        </a>
      </li>
    </ul>

    <section class="level-two-wrapper mb-5">
      <!-- the slide with the products menu items  -->
      <div class="products-dropdown level-two overlay" id='productsNav'>
        <a href='javascript:void(0)' class="menu-text"
      onclick="closeNav(productsNav)">
      <span class='back-arrow'>
          <svg
          class="d-lg-none"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 477.175 477.175"
          style="enable-background:new 0 0 477.175 477.175;"
          xml:space="preserve"
        >
          <g>
            <path
              class="button-fill"
              d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
      c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"
            />
          </g>
        </svg>
      </span>
        Назад</a>
        <div class='section-heading'>Продукти</div>
        <ul class="row no-gutters list-unstyled overlay-content accordion" id='accordionProducts'>
          <div class="hoverable col-12 d-flex flex-column">
            <li class="dropdown-submenu">
              <a
                class="menu-item dropdown-toggle"
                id="subMenuItem"
                data-toggle="collapse"
                aria-expanded="false" 
                aria-controls="collapsePneumatics"
                data-target=".pneumatics-dropdown"
                >Пневматика
                </a>
              <div
                class="collapse pneumatics-dropdown second-dropdown w-100 border-0"
                data-parent="#accordionProducts"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="menu-item" href="{{ site.baseurl }}/pneumatics/movement.html">
                      Движение
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="{{ site.baseurl }}/pneumatics/management.html">
                      Управление
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="{{ site.baseurl }}/pneumatics/preparation.html">
                      Подготовка
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="{{ site.baseurl }}/pneumatics/connecting.html">
                      Свързване
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </div>

          <div class="hoverable col-12 d-flex flex-column"
          >
            <li class="dropdown-submenu">
              <a
                class="menu-item dropdown-toggle"
                id="subMenuItem2"
                data-toggle="collapse"
                aria-expanded="false" 
                aria-controls="collapseProfiles"
                data-target=".profiles-dropdown"
                >Профили
                </a>
              <div
              class="collapse profiles-dropdown second-dropdown w-100 border-0"
              data-parent="#accordionProducts"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="menu-item" href="#!">
                      Алуминиеви профили
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Съединения
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Аксесоари
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      LEAN системи
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </div>

          <div class="hoverable col-12 d-flex flex-column"
            >
            <li class="dropdown-submenu">
              <a
                class="menu-item dropdown-toggle"
                id="subMenuItem3"
                data-toggle="collapse"
                aria-expanded="false" 
                aria-controls="collapseLinear"
                data-target=".linear-dropdown"
                >Линейни задвижвания</a
              >
              <div
                class="collapse linear-dropdown second-dropdown w-100 border-0"
                data-parent="#accordionProducts"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="menu-item" href="#!">
                      Направляващи
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      СВД
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Зъбни рейки
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Модулни системи
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </div>

          <div class="hoverable col-12 d-flex flex-column">
            <li
              class="dropdown-submenu"
            >
              <a
                class="menu-item dropdown-toggle"
                id="subMenuItem4"
                data-toggle="collapse"
                aria-expanded="false" 
                aria-controls="collapseArmature"
                data-target=".armature-dropdown"
                >Арматура</a
              >
              <div
                class="collapse armature-dropdown second-dropdown  w-100 border-0"
                data-parent="#accordionProducts"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="menu-item" href="#!">
                      Спирателна
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Регулираща
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Магнетвентили
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Санитарна
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </div>

          <div class="hoverable col-12 d-flex flex-column">
            <li class="dropdown-submenu" >
              <a
                class="menu-item dropdown-toggle"
                id="subMenuItem5"
                data-toggle="collapse"
                aria-expanded="false" 
                aria-controls="collapseVibrators"
                data-target=".vibrators-dropdown"
                >Вибратори
              </a>

              <div
                class="collapse vibrators-dropdown second-dropdown w-100 border-0"
                data-parent="#accordionProducts"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="menu-item" href="#!">
                      Пневматични
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Електрически
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Аератори
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      За бетон
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </div>
        </ul>
        
      </div>
      <!-- the slide with the engineering menu items -->
      <div class="engineering-dropdown level-two overlay" id='engineeringNav'>
        <a href='javascript:void(0)' class="menu-text"
        onclick="closeNav(engineeringNav)">
        <span class='back-arrow'>
            <svg
            class="d-lg-none"
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 477.175 477.175"
            style="enable-background:new 0 0 477.175 477.175;"
            xml:space="preserve"
          >
            <g>
              <path
                class="button-fill"
                d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
        c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"
              />
            </g>
          </svg>
        </span>Назад</a>
        <div class='section-heading'>Инженеринг</div>
        <ul class="row no-gutters list-unstyled overlay-content accordion"
        id="accordionEngineering">
          <div class="hoverable col-12 d-flex flex-column">
            <li class="dropdown-submenu" >
              <a
                class="menu-item dropdown-toggle"
                id="subMenuItem"
                data-toggle="collapse"
                aria-expanded="false" 
                aria-controls="collapseTransport"
                data-target=".transport-dropdown"
                >Транспортни системи</a
              >
              <div class="collapse transport-dropdown second-dropdown w-100 border-0"
              data-parent="#accordionEngineering"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="menu-item" href="{{ site.baseurl }}/transport-systems/belt.html">
                      Лентови транспортни системи
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="{{ site.baseurl }}/transport-systems/roller.html">
                      Ролкови транспортни системи
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="{{ site.baseurl }}/transport-systems/elevatoring.html">
                      Елеваторни транспортни системи
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="{{ site.baseurl }}/transport-systems/components.html">
                      Компоненти
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </div>

          <div class="hoverable col-12 d-flex flex-column">
            <li class="dropdown-submenu" >
              <a
                class="menu-item dropdown-toggle"
                id="subMenuItem2"
                data-toggle="collapse"
                aria-expanded="false" 
                aria-controls="collapseIndustrial"
                data-target=".industrial-dropdown"
                >Индустриални работни места</a
              >
              <div
              class="collapse industrial-dropdown second-dropdown w-100 border-0"
              data-parent="#accordionEngineering"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="menu-item" href="#!">
                      Индустриални работни маси
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Индустриални колички
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Други
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </div>

          <div class="hoverable col-12 d-flex flex-column">
            <li class="dropdown-submenu" >
              <a
                class="menu-item dropdown-toggle"
                id="subMenuItem3"
                data-toggle="collapse"
                aria-expanded="false" 
                aria-controls="collapseTables"
                data-target=".tables-dropdown"
                >Пневматични и електрически табла</a
              >
              <div
                class="collapse tables-dropdown second-dropdown w-100 border-0"
                data-parent="#accordionEngineering"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="menu-item" href="#!">
                      Пневматични
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Електрически
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </div>
        </ul>
      </div>
      <!-- the slide with auto insustry menu items -->
      <div class="auto-industry-dropdown level-two overlay" id="autoNav">
        <a href='javascript:void(0)' class="menu-text"
          onclick="closeNav(autoNav)">
          <span class='back-arrow'>
              <svg
              class="d-lg-none"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 477.175 477.175"
              style="enable-background:new 0 0 477.175 477.175;"
              xml:space="preserve"
            >
              <g>
                <path
                  class="button-fill"
                  d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
          c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"
                />
              </g>
            </svg>
          </span>Назад
        </a>
        <div class='section-heading'>Авто-индустрия</div>
        <ul class="row no-gutters list-unstyled overlay-content accordion"
        id='accordionAutoindustry'>
          <div class="hoverable col-12 d-flex flex-column">
            <li class="dropdown-submenu" >
              <a
                class="menu-item dropdown-toggle"
                id="subMenuItem"
                data-toggle="collapse"
                aria-expanded="false" 
                aria-controls="collapseClamps"
                data-target=".clamps-dropdown"
                >Клампи</a
              >
              <div
              class="collapse clamps-dropdown second-dropdown w-100 border-0"
              data-parent="#accordionAutoindustry"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="menu-item" href="#!">
                      Заключващи единици
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Центриращи единици
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Заключващи и центриращи единици
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Хващачи /грипери/
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Въртящи единици
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Маркиращи единици
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Електрически единици
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </div>

          <div class="hoverable col-12 d-flex flex-column">
            <li class="dropdown-submenu " >
              <a
                class="menu-item dropdown-toggle"
                id="subMenuItem2"
                data-toggle="collapse"
                aria-expanded="false" 
                aria-controls="collapseGR8"
                data-target=".gr8-dropdown"
                >GR8 модулна система</a
              >
              <div
                class="collapse gr8-dropdown second-dropdown w-100 border-0"
                data-parent="#accordionAutoindustry"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="menu-item" href="#!">
                      GR8
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      GR8SK
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </div>

          <div class="hoverable col-12 d-flex flex-column">
            <li class="dropdown-submenu " >
              <a
                class="menu-item dropdown-toggle"
                id="subMenuItem3"
                data-toggle="collapse"
                aria-expanded="false" 
                aria-controls="collapseAccessories"
                data-target=".accessories-dropdown"
                >Аксесоари</a
              >
              <div
              class="collapse accessories-dropdown second-dropdown w-100 border-0"
              data-parent="#accordionAutoindustry"
              >
                <ul class="list-unstyled">
                  <li>
                    <a class="menu-item" href="#!">
                      Клампови челюсти
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Сензори
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      UBK система
                    </a>
                  </li>
                  <li>
                    <a class="menu-item" href="#!">
                      Ръчно управление
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </section>
    
    <!-- Links -->
  </div>
  <!-- Collapsible content -->
</nav>
<!-- Mobile Navbar -->

<!-- Desktop Navbar visible over the large width breakpoint -->
<nav
  class="navbar-expand-lg navbar-dark p-0 d-none fixed-top d-lg-flex row w-100 
  {% if page.title != 'Техноком Ко - Технически доброто до Вас.' %} bg-dark {% endif %}
  {% if page.title == 'Техноком Ко - Технически доброто до Вас.' %} navbar-transparent home-page {% endif %}"
  id="navigation-desktop"
>
    <!-- Navbar brand -->
    <span class="logo-container d-flex align-items-center col-2">
      <a class="navbar-brand text-uppercase" href="{{ site.baseurl }}/">
        <img
          class='{% if page.title != "Техноком Ко - Технически доброто до Вас." %} d-none {% endif %}'
          id="head-logo-white"
          src="{{ site.baseurl }}/assets/img/bialo logo.png"
          alt="TechnokomKo"/>
        <img
          id="head-logo-blue"
          src="{{ site.baseurl }}/assets/img/logo 1.png"
          alt="TechnokomKo"
      /></a>
    </span>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse row justify-content-between col-9">
      <!-- Links -->
      <ul class="navbar-nav">
        <!-- Products menu -->
        <li class="nav-item dropdown-main mx-2">
          <a
            class="nav-link text-uppercase font-weight-bold p-lg-1 p-xl-3"
            href="{{ site.baseurl }}/products.html"
            >Продукти</a
          >

          <div class="dropdown-main-menu bg-primary row">
            <div class="col-1"></div>
            <div class="col-10">
              <ul class="row no-gutters list-unstyled">
                <div class="hoverable col-sm-12 col-lg">
                  <li
                    class="dropdown-submenu text-white pb-5 d-flex flex-column align-items-center"
                  >
                    <a
                      class="menu-item text-uppercase font-weight-bold py-3"
                      href="{{ site.baseurl }}/products.html"
                      >Пневматика</a
                    >
                    <div class="dropdown-submenu-item w-100">
                      <ul
                        class="list-unstyled pt-2 w-75 mx-auto d-flex flex-column align-items-center"
                      >
                        <li class="my-1 w-75">
                          <a
                            class="menu-item"
                            href="{{ site.baseurl }}/pneumatics/movement.html"
                          >
                            Движение
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Управление
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Подготовка
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Свързване
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </div>

                <div class="hoverable col-sm-12 col-lg">
                  <li
                    class="dropdown-submenu text-white pb-5 d-flex flex-column align-items-center"
                  >
                    <a
                      class="menu-item text-uppercase font-weight-bold py-3"
                      href="#"
                    >
                      Профили</a
                    >
                    <div class="dropdown-submenu-item w-100">
                      <ul
                        class="list-unstyled pt-2 w-75 mx-auto d-flex flex-column align-items-center"
                      >
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Алуминиеви профили
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Съединения
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Аксесоари
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            LEAN системи
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </div>

                <div class="hoverable col-sm-12 col-lg">
                  <li
                    class="dropdown-submenu text-white pb-5 d-flex flex-column align-items-center"
                  >
                    <a
                      class="middle-submenu-item menu-item text-uppercase font-weight-bold py-3"
                      href="#"
                      >Линейни задвижвания</a
                    >
                    <div class="dropdown-submenu-item w-100">
                      <ul
                        class="list-unstyled pt-2 w-75 mx-auto d-flex flex-column align-items-center"
                      >
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Направляващи
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            СВД
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Зъбни рейки
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Модулни системи
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </div>

                <div class="hoverable col-sm-12 col-lg">
                  <li
                    class="dropdown-submenu text-white pb-5 d-flex flex-column align-items-center"
                  >
                    <a
                      class="menu-item text-uppercase font-weight-bold py-3"
                      href="#"
                      >Арматура</a
                    >
                    <div class="dropdown-submenu-item w-100">
                      <ul
                        class="list-unstyled pt-2 w-75 mx-auto d-flex flex-column align-items-center"
                      >
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Спирателна
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Регулираща
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Магнетвентили
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Санитарна
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </div>

                <div class="hoverable col-sm-12 col-lg">
                  <li
                    class="dropdown-submenu text-white pb-5 d-flex flex-column"
                  >
                    <a
                      class="menu-item text-uppercase font-weight-bold py-3"
                      href="#"
                      >Вибратори</a
                    >
                    <div class="dropdown-submenu-item w-100">
                      <ul
                        class="list-unstyled pt-2 w-75 mx-auto d-flex flex-column align-items-center"
                      >
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Пневматични
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Електрически
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Аератори
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            За бетон
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
            <div class="col-1"></div>
          </div>
        </li>

        <!-- Engineering menu -->
        <li class="nav-item dropdown-main mx-2">
          <a
            class="nav-link text-uppercase font-weight-bold p-lg-1 p-xl-3"
            href="{{ site.baseurl }}/engineering.html"
            >Инженеринг</a
          >

          <div
            class="dropdown-main-menu dropdown-engineering-menu bg-primary row"
          >
            <div class="col-1"></div>
            <div class="col-10">
              <ul class="row no-gutters list-unstyled">
                <div class="hoverable col-sm-12 col-lg">
                  <li
                    class="dropdown-submenu text-white pb-5 d-flex flex-column align-items-end"
                  >
                    <a
                      class="menu-item text-uppercase font-weight-bold py-3"
                      href="{{ site.baseurl }}/engineering.html"
                      >Транспортни системи</a
                    >
                    <div class="dropdown-submenu-item w-100">
                      <ul
                        class="list-unstyled pt-2 w-75 mx-auto d-flex flex-column align-items-center "
                      >
                        <li class="my-1 w-75">
                          <a
                            class="menu-item"
                            href="{{ site.baseurl }}/transport-systems.html"
                          >
                            Лентови транспортни системи
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Ролкови транспортни системи
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Елеваторни транспортни системи
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Компоненти
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </div>

                <div class="hoverable col-sm-12 col-lg">
                  <li
                    class="dropdown-submenu text-white pb-5 d-flex flex-column align-items-center"
                  >
                    <a
                      class="middle-submenu-item menu-item text-uppercase font-weight-bold  py-3"
                      href="#"
                      >Индустриални работни места</a
                    >
                    <div class="dropdown-submenu-item w-100">
                      <ul
                        class="list-unstyled pt-2 w-75 mx-auto d-flex flex-column align-items-center"
                      >
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Индустриални работни маси
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Индустриални колички
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Други
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </div>

                <div class="hoverable col-sm-12 col-lg">
                  <li
                    class="dropdown-submenu text-white pb-5 d-flex flex-column align-items-center"
                  >
                    <a
                      class="menu-item text-uppercase font-weight-bold py-3"
                      href="#"
                      >Пневматични и електрически табла</a
                    >
                    <div class="dropdown-submenu-item w-100">
                      <ul
                        class="list-unstyled pt-2 w-75 mx-auto d-flex flex-column align-items-center"
                      >
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Пневматични табла
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Електрически табла
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
            <div class="col-1"></div>
          </div>
        </li>

        <!-- Auto industry menu -->
        <li class="nav-item dropdown-main mx-2">
          <a class="nav-link text-uppercase font-weight-bold p-lg-1 p-xl-3"
          href="{{ site.baseurl }}/auto-industry.html">
            Авто индустрия
          </a>

          <div class="dropdown-main-menu dropdown-auto-menu bg-primary row">
            <div class="col-1"></div>
            <div class="col-10">
              <ul class="row no-gutters list-unstyled">
                <div class="hoverable col-sm-12 col-lg">
                  <li
                    class="dropdown-submenu text-white pb-5 d-flex flex-column align-items-end"
                  >
                    <a
                      class="menu-item text-uppercase font-weight-bold py-3"
                      href="#"
                      >Клампи</a
                    >
                    <div class="dropdown-submenu-item w-100">
                      <ul
                        class="inner-list-front list-unstyled pt-2 w-75 mx-auto d-flex flex-column align-items-center"
                      >
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Заключващи единици
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Центриращи единици
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Заключващи и центриращи единици
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Хващачи /грипери/
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Въртящи единици
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Маркиращи единици
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Електрически единици
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </div>

                <div class="hoverable col-sm-12 col-lg">
                  <li
                    class="dropdown-submenu  text-white pb-5 d-flex flex-column align-items-center"
                  >
                    <a
                      class="middle-submenu-item menu-item text-uppercase font-weight-bold py-3"
                      href="#"
                      >GR8 модулна система</a
                    >
                    <div class="dropdown-submenu-item w-100">
                      <ul
                        class="list-unstyled pt-2 w-75 mx-auto d-flex flex-column align-items-center"
                      >
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            GR8
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            GR8SK
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </div>

                <div class="hoverable col-sm-12 col-lg">
                  <li
                    class="dropdown-submenu text-white pb-5 d-flex flex-column align-items-center"
                  >
                    <a
                      class="menu-item text-uppercase font-weight-bold py-3"
                      href="#"
                      >Аксесоари</a
                    >
                    <div class="dropdown-submenu-item w-100">
                      <ul
                        class="list-unstyled pt-2 w-75 mx-auto d-flex flex-column align-items-center"
                      >
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Клампови челюсти
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Сензори
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            UBK система
                          </a>
                        </li>
                        <li class="my-1 w-75">
                          <a class="menu-item" href="#!">
                            Ръчно управление
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
            <div class="col-1"></div>
          </div>
        </li>

        <!-- THE COMPANY menu -->
        <li class="nav-item dropdown-main mx-2">
          <a
            class="nav-link text-uppercase font-weight-bold p-lg-1 p-xl-3"
            href="{{ site.baseurl }}/about/index.html"
            >Компанията</a
          >
          <div class="company-dropdown bg-primary">
            <ul class="list-unstyled">
              <li class="px-5 py-2 border-bottom border-top">
                <a
                  class="menu-item pl-0"
                  href="{{ site.baseurl }}/about/index.html"
                >
                  Мисия
                </a>
              </li>
              <li class="px-5 py-2">
                <a
                  class="menu-item pl-0"
                  href="{{ site.baseurl }}/about/index.html#partners"
                >
                  Партньори
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- News menu -->
        <li class="nav-item dropdown-main mx-2">
          <a
            class="nav-link text-uppercase font-weight-bold p-lg-1 p-xl-3"
            href="{{ site.baseurl }}/news/events.html"
          >
            Новини
          </a>
          <div class="news-dropdown bg-primary">
            <ul class="list-unstyled">
              <li class="border-bottom border-top px-5 py-2">
                <a
                  class="menu-item pl-0"
                  href="{{ site.baseurl }}/news/new-products.html"
                >
                  Продукти
                </a>
              </li>
              <li class="px-5 py-2">
                <a
                  class="menu-item pl-0"
                  href="{{ site.baseurl }}/news/events.html"
                >
                  Събития
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Contacts menu item -->
        <li class="nav-item mx-2">
          <a
            class="nav-link text-uppercase font-weight-bold p-lg-1 p-xl-3"
            href="{{ site.baseurl }}/contact/index.html"
            >Контакти
          </a>
        </li>
      </ul>
      <!-- Links -->

      <!-- Search button -->
      <div class="search-bar align-self-stretch">
        <a class="btn border-0 p-lg-2 p-xl-3" id="dropdownMenuButton">
          <div class="search-button">
            <div class="search-icon">
              <span class="d-none">Search</span>
            </div>
          </div>
        </a>

        <div class="search-bar-hidden border-0 w-100" id="search-bar-hidden"> 
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <form action="GET" autocomplete="on" class="mt-2 border-0 d-flex align-items-center">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control py-2 bg-transparent border-0"
                    placeholder="Потърсете продукт, код, новина.."
                    aria-label="Search"
                    aria-describedby="button-addon2"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn ml-auto"
                      type="submit"
                      id="button-addon2"
                    >
                      <img src="{{ site.baseurl }}/assets/img/home/icon 1.png" alt="search icon">
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
      <!-- Search button -->
    </div>
    <!-- Collapsible content -->

    <div class="col-1"></div>
  
</nav>
<!-- Desktop Navbar -->
