@font-face {
  font-family: "Axiforma Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Axiforma Regular"),
    url("/assets/fonts/Axiforma/Axiforma-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Axiforma Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Axiforma Italic"),
    url("/assets/fonts/Axiforma/Axiforma-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Axiforma Light";
  font-style: normal;
  font-weight: normal;
  src: local("Axiforma Light"),
    url("/assets/fonts/Axiforma/Axiforma-Light.otf") format("opentype");
}
@font-face {
  font-family: "Axiforma Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Axiforma Light Italic"),
    url("/assets/fonts/Axiforma/Axiforma-Light-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Axiforma Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Axiforma Medium"),
    url("/assets/fonts/Axiforma/Axiforma-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Axiforma Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Axiforma Medium Italic"),
    url("/assets/fonts/Axiforma/Axiforma-Medium-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Axiforma SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Axiforma SemiBold"),
    url("/assets/fonts/Axiforma/Axiforma-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Axiforma SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Axiforma SemiBold Italic"),
    url("/assets/fonts/Axiforma/Axiforma-SemiBold-Italic.otf")
      format("opentype");
}
@font-face {
  font-family: "Axiforma Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Acari Sans Bold"),
    url("/assets/fonts/Axiforma/Axiforma-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Axiforma Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Axiforma Bold Italic"),
    url("/assets/fonts/Axiforma/Axiforma-Bold-Italic.otf") format("opentype");
}
