@font-face {
  font-family: "Acari Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Acari Sans Regular"),
    url("../assets/fonts/Acari-Sans/AcariSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Acari Sans Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acari Sans Italic"),
    url("../assets/fonts/Acari-Sans/AcariSans-Italic.woff") format("woff");
}
@font-face {
  font-family: "Acari Sans Light";
  font-style: normal;
  font-weight: normal;
  src: local("Acari Sans Light"),
    url("../assets/fonts/Acari-Sans/AcariSans-Light.woff") format("woff");
}
@font-face {
  font-family: "Acari Sans Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acari Sans Light Italic"),
    url("../assets/fonts/Acari-Sans/AcariSans-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Acari Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Acari Sans Medium"),
    url("../assets/fonts/Acari-Sans/AcariSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "Acari Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acari Sans Medium Italic"),
    url("../assets/fonts/Acari-Sans/AcariSans-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Acari Sans SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Acari Sans SemiBold"),
    url("../assets/fonts/Acari-Sans/AcariSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Acari Sans SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acari Sans SemiBold Italic"),
    url("../assets/fonts/Acari-Sans/AcariSans-SemiBoldItalic.woff")
      format("woff");
}
@font-face {
  font-family: "Acari Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Acari Sans Bold"),
    url("../assets/fonts/Acari-Sans/AcariSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Acari Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acari Sans Bold Italic"),
    url("../assets/fonts/Acari-Sans/AcariSans-BoldItalic.woff") format("woff");
}
