* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: $font-family-base;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

body[data-aos-duration="2000"] [data-aos],
[data-aos][data-aos][data-aos-duration="2000"] {
  transition-duration: 2000ms;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $body-bg;

  img {
    width: 60%;
    height: auto;
  }
}

.loader.hidden {
  animation: loader-fade-out 1s;
  animation-fill-mode: forwards;
}

a {
  font-family: $font-family-base;
  text-decoration: none;
}

/* STYLING THE HEADERS EXCEPT ON HOME, ABOUT AND CONTACTS PAGES*/

.site-header {
  h1 {
    font-size: 1.5rem;
    background: $color-gradient;
    min-height: 6rem;
    margin-top: 58px;
  }
}
@media screen and (min-width: 992px) {
  .site-header {
    h1 {
      font-size: 2rem;
      min-height: 10rem;
      margin-top: 68px;
    }
  }
}
/* STYLING THE HEADINGS IN GENERAL BUT OVERRIDING THEM IN OTHER FILES FOR DIFFERENT SECTIONS */

h2,
h4,
h6 {
  color: $teal;
}

// OVERRIDING THE CARDS STYLES FROM BOOTSTRAP

.card {
  height: 100%;
}
.card-body {
  background-color: $card-bg;
  transition: background-color 0.4s ease-in-out;
}
.card-title {
  font-size: 1.1rem;
  color: $teal;
  font-weight: bold;
  transition: color 0.4s ease-in-out;
}

.card-text {
  font-size: 1.1rem;
  color: $gray-900;
  font-weight: bold;
  transition: color 0.4s ease-in-out;
}

.card-link:hover .card-body,
.card-link:focus .card-body {
  background-color: $teal;
}

.card-link:hover .card-title,
.card-link:focus .card-title,
.card-link:hover .card-text,
.card-link:focus .card-text {
  color: $white;
}

// OVERRIDING THE BREADCRUMB STYLES FROM BOOTSTRAP

.breadcrumb-nav {
  margin: 0.5rem auto;

  .breadcrumb {
    padding: 0.5rem 0;
    margin-bottom: 0;
    align-items: center;
  }
  a {
    color: $gray-900;

    &:hover,
    &:focus {
      color: $teal;
      text-decoration: none;
      outline: none;
    }
  }

  .breadcrumb-item:first-child {
    a {
      position: relative;

      &:before {
        display: block;
        content: "\f015";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: $gray-900;
        position: relative;
        top: -3px;
      }

      &:hover:before {
        color: $teal;
      }
    }
  }
}

.carousel-header {
  .breadcrumb-nav {
    width: auto;
    margin: 0;
  }
}

/* STYLING THE PRIVACY POLICY HEADINGS AND TEXT */
.privacy-policy {
  font-size: 0.9rem;
  text-align: justify;

  h4 {
    font-size: 1.25rem;
    position: relative;
    margin: 1.25rem 0 1rem 0;

    &:before {
      display: inline-block;
      content: "";
      width: 3px;
      height: 1.5rem;
      background: $teal;
      position: absolute;
      top: 0;
      left: -1rem;
    }
  }

  h6 {
    font-size: 1rem;
    margin-top: 1rem;
  }

  ul {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .privacy-policy {
    h4 {
      font-size: 1.5rem;
      margin: 2.5rem 0 1.5rem 0;

      &:before {
        height: 2rem;
      }
    }

    h6 {
      font-size: 1.1rem;
    }
  }
}
