// FONT FAMILY VARIABLES

// $ff-text: "Montserrat";
// $ff-headings: "Merriweather";

// COLOR VARIABLES

$gray-900: #1e2022;
$blue: #003a4e;
$teal: #009fab;
$body-bg: #f3f3f3;
$white: #ffffff;

$color-gradient: linear-gradient(to bottom, $blue, $teal);

// NAVBAR

$dark: $blue;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $teal;
$border-width: 1px;
$border-color: $teal;
$dropdown-min-width: 100vw;
$dropdown-link-color: $teal;
$dropdown-link-hover-color: $teal;
$dropdown-link-hover-bg: $teal;

// WHITE SPACE VARIABLES

$dropdown-spacer: 0.01;

// FONT SIZE VARIABLES

$sizing-fs-base: 12px;
$sizing-fs-tablet: 14px;
$sizing-fs-laptop: 16px;
$sizing-fs-desktop: 18px;
$sizing-fs-huge: 20px;

$enable-rounded: false;
