// FONT FAMILY VARIABLES

$font-family-base: "Acari Sans Regular", sans-serif;
$headings-font-family: "Axiforma Regular", sans-serif;

// RESETTING BOOTSTRAP COLOR VARIABLES
$gray-900: rgb(110, 110, 115);
$blue: rgb(0, 68, 86);
$teal: rgb(0, 160, 173);
$card-bg: rgb(234, 234, 234);
$body-bg: rgb(244, 244, 244);
$white: rgb(255, 255, 255);
$lines: rgb(170, 170, 170);
$color-gradient: linear-gradient(to bottom, $blue 30%, $teal 100%);
$input-focus-color: #000000;
$input-focus-bg: $body-bg;
$input-focus-border-color: none;

// RESETTING BOOTSTRAP NAVBAR VARIABLES

$dark: $blue;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $teal;
$border-width: 1px;
$border-color: $teal;
$dropdown-min-width: 0;
$dropdown-link-color: $teal;
$dropdown-link-hover-color: $teal;
$dropdown-link-hover-bg: $teal;

// WHITE SPACE VARIABLES

$dropdown-padding-y: 0;
$dropdown-spacer: 0.0000001;

// FONT SIZE VARIABLES - unused so far

$sizing-fs-base: 12px;
$sizing-fs-tablet: 14px;
$sizing-fs-laptop: 16px;
$sizing-fs-desktop: 18px;
$sizing-fs-huge: 20px;

$enable-rounded: false;
