/* HERE START THE STYLES FOR THE CAROUSEL WITH THE BANNERS ON THE HOME PAGE */
#carouselFadeMobile {
  max-height: 82vh;

  .carousel-inner {
    width: auto;
    height: 82vh;
  }
}
.carousel-fade {
  max-height: 85vh;
  .carousel-inner {
    width: auto;
    height: 85vh;

    .carousel-item {
      height: 100%;
      position: relative;

      &:before {
        display: block;
        content: "";
        padding-top: 1%;
      }

      img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.carousel-caption {
  position: static;
  height: 100%;
  margin-top: 3rem;

  & > div {
    position: relative;
    top: 10%;
  }

  h1 {
    font-family: "Axiforma Bold", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  ul {
    position: relative;
    top: 8%;
    text-align: center;
    padding-left: 0;

    li {
      font-family: "Axiforma SemiBold", sans-serif;
      font-size: 1rem;
      margin-bottom: 0.25rem;
      text-transform: uppercase;
    }
  }

  h4 {
    color: $white;
  }
}

.delivery,
.production,
.industry {
  color: $white;
  font-family: "Axiforma Light", sans-serif;
  font-size: 1rem;
  margin-bottom: 2rem;
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 6rem;
    height: 1px;
    background-color: $white;
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.carousel-control-prev {
  top: 120%;
  left: -7px;

  .carousel-control-prev-icon {
    width: 30px;
  }
}
.carousel-control-next {
  top: 120%;
  right: -7px;

  .carousel-control-next-icon {
    width: 30px;
  }
}

.carousel-indicators {
  li {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    opacity: 0.8;
  }

  .active {
    background-color: $teal;
  }
}

@media (min-width: 550px) and (max-width: 991px) {
  .carousel-caption {
    margin-top: 9rem;

    h1 {
      font-size: 2.25rem;
      margin-bottom: 4rem;
    }

    ul {
      li {
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (min-height: 580px) {
  .carousel-caption {
    margin-top: 3rem;

    & > div {
      top: 15%;
    }

    h1 {
      margin-bottom: 3rem;
    }

    ul {
      top: 10%;
    }
  }

  .delivery,
  .production,
  .industry {
    &:before {
      top: -1.5rem;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: 100%;
  }
}

@media screen and (min-width: 992px) {
  .carousel-fade {
    .carousel-inner {
      width: auto;

      .carousel-item {
        &:before {
          padding-top: 50%;
        }
        img {
          width: 130%;
          height: auto;
        }
      }
    }
  }

  .carousel-caption {
    position: absolute;
    top: 39%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;

    & > div {
      top: 5%;
    }

    h1 {
      font-family: "Axiforma SemiBold", sans-serif;
      font-size: 2.5rem;
      text-align: right;
      margin: 0;
    }

    ul {
      text-align: left;
      padding-left: 0.5rem;
      position: relative;
      li {
        font-family: "Axiforma SemiBold", sans-serif;
        font-size: 1.1rem;
        margin-bottom: 0.25rem;
      }
    }

    h4 {
      font-size: 1rem;
      position: absolute;
      top: -9%;
    }
  }

  .delivery,
  .production,
  .industry {
    font-family: "Axiforma Regular", sans-serif;
    margin-bottom: 1.5rem;

    &:before {
      position: static;
      width: 6rem;
      height: 3px;
      margin-bottom: 0.8rem;
      transform: translateX(0);
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: -60%;
  }

  .carousel-control-prev {
    left: 73%;
    transform: rotateY(180deg);

    .carousel-control-prev-icon {
      width: 40px;
    }
  }
  .carousel-control-next {
    right: -4%;

    .carousel-control-next-icon {
      width: 40px;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: url("../assets/img/home/strelka.png");
    height: 25px;
    transition: transform 0.4s ease;
  }

  .carousel-control-prev-icon:hover {
    transform: translateX(1rem);
  }

  .carousel-control-next-icon:hover {
    transform: translateX(1rem);
  }

  .carousel-indicators {
    li {
      width: $carousel-indicator-width;
      height: $carousel-indicator-width;
    }
  }
}

@media screen and (min-width: 1200px) {
  .carousel-fade {
    .carousel-inner {
      .carousel-item {
        img {
          width: 120%;
        }
      }
    }
  }

  .carousel-caption {
    top: 36%;
    h1 {
      font-size: 3rem;
    }

    ul {
      li {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }
    }

    h4 {
      font-size: 1.15rem;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: -50%;
  }
}

@media screen and (min-width: 1440px) {
  .carousel-fade {
    .carousel-inner {
      .carousel-item {
        img {
          width: 110%;
        }
      }
    }
  }

  .carousel-caption {
    top: 35%;

    h1 {
      font-size: 3.3rem;
    }

    ul {
      li {
        font-size: 1.55rem;
      }
    }

    h4 {
      font-size: 1.25rem;
    }
  }

  .carousel-control-prev {
    left: 75%;
  }
}

@media screen and (min-width: 1640px) {
  .carousel-fade {
    .carousel-inner {
      .carousel-item {
        img {
          width: 100%;
        }
      }
    }
  }

  .carousel-caption {
    top: 37%;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 50px;
    height: 30px;
  }
}

/* HERE START THE STYLES FOR THE CAROUSEL WITH ADVANTAGES ON THE MOBILE MAIN PAGE  */
.advantages {
  margin-bottom: 3rem;

  .carousel-header {
    margin-bottom: 0;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: $teal;
    width: 2.5rem;
    height: 2.5rem;
    top: 40%;
  }

  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .carousel-item {
    color: $gray-900;
    text-align: center;

    & > .row {
      width: 90%;
      margin: 0 auto;
    }

    .image-ratio-container {
      position: relative;
      overflow: hidden;

      &:before {
        display: block;
        content: "";
        padding-top: 35%;
      }

      img {
        width: 22%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .advantages-body {
      font-size: 0.9rem;
      text-align: justify;
      text-align-last: center;
      align-self: center;
      width: 18rem;

      h6 {
        color: $black;
        font-family: "Acari Sans Bold", sans-serif;
        margin-bottom: 1.5rem;
      }
    }
  }
}

/* HERE START THE STYLES FOR THE MOBILE CAROUSEL WITH NEWS ARTICLES ON THE MAIN PAGE */
.mobile-tabs {
  width: 100%;
  background: $blue;
  margin-bottom: 0;

  .tabs-item {
    text-align: center;
    flex-grow: 1;
    padding: 0.65rem 0;
    a {
      color: $white;
    }
  }

  .active-tab {
    background: $teal;
    color: $white;

    a:hover,
    a:focus,
    a:visited {
      outline: none;
      text-decoration: none;
    }
  }
}

.carousel-events-mobile {
  display: none;
}

.carousel-products-mobile,
.carousel-events-mobile,
.carousel-products-list {
  .carousel-header {
    margin-bottom: 0;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: $teal;
    width: 2.5rem;
    height: 2.5rem;
    top: 30%;
  }

  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .carousel-indicators {
    bottom: 40%;
  }

  .card {
    width: 100vw;
    background: $teal;
  }

  .card-body {
    padding: 1.5rem 1rem;
  }

  .card-title,
  .card-text {
    font-size: 0.9rem;
  }

  .see-all-mobile {
    display: inline-block;
    width: 40%;
    text-align: center;
    color: $white;
    border: 1px solid $white;
    padding: 0.65rem 0;
    margin: 0.5rem auto 2rem auto;

    &:hover,
    &:focus {
      border: 1px solid $blue;
      text-decoration: none;
      background: $blue;
    }
  }
}

@media screen and (min-width: 450px) {
  .carousel-products-mobile,
  .carousel-events-mobile {
    .carousel-indicators {
      bottom: 35%;
    }
  }
}

@media screen and (min-width: 550px) {
  .carousel-products-mobile,
  .carousel-events-mobile {
    .carousel-indicators {
      bottom: 30%;
    }
  }
}
@media screen and (min-width: 650px) {
  .carousel-products-mobile,
  .carousel-events-mobile {
    .carousel-indicators {
      bottom: 27%;
    }
  }
}
@media screen and (min-width: 750px) {
  .carousel-products-mobile,
  .carousel-events-mobile {
    .carousel-indicators {
      bottom: 24%;
    }
  }
}
@media screen and (min-width: 850px) {
  .carousel-products-mobile,
  .carousel-events-mobile {
    .carousel-indicators {
      bottom: 20%;
    }
  }
}

/* HERE START THE STYLES FOR THE DESKTOP CAROUSEL WITH NEWS ARTICLES ON THE MAIN PAGE */
@media screen and (min-width: 992px) {
  .carousel-header {
    margin-bottom: 2rem;

    .see-all {
      position: relative;
      margin-left: auto;
      margin-right: 3rem;
      color: $black;
      &:hover {
        color: $teal;
        text-decoration: none;
      }
      &:before {
        display: inline-block;
        content: "";
        width: 1rem * 1.75;
        height: 2px;
        background-color: rgba($gray-900, 0.5);
        margin-right: 0.5rem;
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translateY(-50%);
      }
    }
  }

  .tabs {
    .tabs-item {
      align-self: flex-start;
      position: relative;
      &:last-child {
        border-left: 1px solid $gray-900;
        margin-left: 0.8rem;
        padding-left: 0.8rem;
      }

      a {
        color: $black;
        &:hover {
          color: $teal;
          text-decoration: none;
        }
      }
    }
    .active-tab {
      a {
        color: $teal !important;
      }
    }
  }

  .tabs,
  .pages {
    margin-bottom: 0;
  }

  .pages {
    padding: 0.8rem 0.5rem;
    width: 8rem;
    background: $teal;
    position: relative;

    &::before {
      display: inline-block;
      content: "";
      width: 1px;
      height: 1rem;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .carousel-button {
      width: 1.25rem;
      height: 1.25rem;
      border: 0;
      outline: none;
      cursor: pointer;
    }
    .button-fill {
      fill: $white;
    }

    .page-left,
    .page-right {
      padding-top: 0.3rem;
      font-family: "Axiforma Regular";
      font-size: 1.2rem;
      margin: 0 0.8rem;
    }
  }
  .carousel-events {
    display: none;
  }
  .carousel-news-article {
    width: 100%;
    min-height: 80vh;
  }
  .carousel-products,
  .carousel-events {
    width: 100%;
    height: 50vh;
    margin: 0 auto;

    .carousel-indicators {
      margin-bottom: 0;
    }

    .carousel-inner {
      height: 95%;
    }
    .card-link {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 1600px) {
  .carousel-products,
  .carousel-events {
    .card-title,
    .card-text {
      font-size: 1rem;
    }
  }
}

// STYLES FOR THE CAROUSELS ON MOBILE VERSION OF THE CATALOG PAGE
.carousel-products-list {
  background: $white;
  padding: 2rem 0;
  .carousel-indicators {
    top: 90%;
    margin-top: 0;
    li {
      border: 1px solid $teal;
    }
  }

  .carousel-item {
    img {
      width: 80%;
      height: auto;
    }
    margin-bottom: 2rem;
  }

  .embed-responsive .embed-responsive-item {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .product-redirect-link {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 0.75rem 0;
    text-align: center;
    border: 1px solid $teal;
    color: $teal;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $white;
      background: $teal;
    }
  }
}

.carousel-products-list.carousel-auto-industry,
.carousel-products-list .carousel-engineering {
  .product-redirect-link {
    width: 70%;
  }
}

@media screen and (min-width: 550px) {
  .carousel-products-list {
    .carousel-indicators {
      margin-top: 1rem;
    }
  }
}
@media screen and (min-width: 750px) {
  .carousel-products-list {
    .carousel-indicators {
      margin-top: 2rem;
    }
  }
}
