/* NAVIGATION STYLES FOR MOBILE AND TABLET SCREENS*/

.navbar-expand-lg {
  padding: 1rem 0;

  .logo-container {
    // width: 450px;
    background: $body-bg;
    max-width: 15rem;
    img {
      width: 80%;
      height: auto;
    }
  }

  .navbar-nav {
    cursor: pointer;
    padding: 1rem 0;

    & a {
      font-size: 0.8rem;
    }

    .hoverable {
      border: 1px solid $teal;

      .dropdown-submenu {
        padding-left: 2rem;
        .dropdown-menu {
          padding-left: 2rem;

          a {
            text-transform: none;
            font-weight: 300;
          }
        }
      }
    }
  }
  .menu-item,
  .nav-link {
    color: $white;

    &:hover,
    &:focus {
      color: $teal;
      text-decoration: none;
      outline: none;
    }
  }
}

/* SEARCH BUTTON AND SEARCH FIELD */
.dropdown-menu {
  min-width: 100vw;
}
.search-bar.dropdown {
  max-width: 5rem;
  // background-color: $teal;

  a.btn {
    width: 100%;
    height: 100%;

    // background-color: $teal;
    outline: none;
    border: none;
    cursor: pointer;

    img {
      width: 60%;
      height: auto;
      vertical-align: middle;
    }

    span {
      display: none;
    }
  }
  .expanded {
    padding: 2rem; // Toggling this class with JS
    img {
      display: none;
    }
    &:before {
      display: inline-block;
      content: "\f00d";
      color: $white;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 1rem;
    }
  }

  .search-bar-hidden {
    background-color: $teal;

    form {
      min-height: 5rem;

      span {
        width: 90%;
        border-bottom: 1px solid $white;

        input[type="text"] {
          color: $white;
          outline: none;
          font-family: "Axiforma Light";
          font-size: 1.7rem;

          &::placeholder {
            font-family: "Axiforma Light";
            font-size: 1.7rem;
            color: rgba(255, 255, 255, 0.5);
          }
        }

        .fa-search {
          font-size: 1.2rem;
        }
      }
    }
  }
}

/* NAVIGATION STYLES FOR SCREENS ABOVE 992px */

@media screen and (min-width: 992px) {
  //when on the main page, the menu is transparent and the logo is white
  // when we scroll on main page, the menu becomes as normal
  .navbar-transparent-home-page {
    transition: all 300ms ease-in-out;
    .logo-container {
      background-color: rgba($body-bg, 0);
      transition: all 300ms ease-in-out;

      #head-logo-white {
        width: 17rem;
      }
      #head-logo-blue {
        display: none;
        width: 100%;
      }
    }

    //when we hover the transparent menu on the main page (when not scrolled) the menu should be as normal
    &:hover {
      background-color: $blue;

      .logo-container {
        background-color: rgba($body-bg, 1);

        #head-logo-blue {
          display: block;
          width: 100%;
        }

        #head-logo-white {
          display: none;
        }
      }

      .search-bar.dropdown {
        a.btn {
          background-color: $teal;
        }
      }
    }
  }

  .navbar-when-scrolled {
    background-color: $blue;

    .logo-container {
      background-color: rgba($body-bg, 1);

      #head-logo-blue {
        display: block;
      }

      #head-logo-white {
        display: none;
      }
    }

    .search-bar.dropdown {
      a.btn {
        background-color: $teal;
      }
    }
  }

  .navbar-expand-lg {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;

    .logo-container {
      max-width: 17rem;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    .collapse {
      max-width: 1300px;
      margin: 0 auto 0 -13rem;
    }

    .navbar-nav {
      margin: 0 auto;
      & a {
        font-size: 0.9rem;
      }
      .dropdown-main {
        display: block;
        position: relative;
        @media screen and (min-width: 1244px) {
          &:before {
            display: inline-block;
            content: "";
            color: $white;
            @include caret-down;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }

      .dropdown-main-menu {
        position: fixed;
        transform: scale(1, 0);
        transition: transform 200ms ease-in-out; // regulate the speed and the bezier curve of the drop down menu from here
        transform-origin: top;
        top: 68px;
        border-bottom: 1px solid $teal;

        @media screen and (min-width: 1200px) {
          top: 84px;
        }

        left: 0;
        right: 0;
        z-index: 1000;

        &.company-dropdown {
          left: 55%;
          right: 28%;
          @media screen and (min-width: 1440px) {
            left: 48%;
            right: 35%;
          }
        }

        &.news-dropdown {
          left: 65%;
          right: 18%;
          @media screen and (min-width: 1440px) {
            left: 55%;
            right: 28%;
          }
        }
      }

      .dropdown-main:hover .dropdown-main-menu,
      .dropdown-main:focus .dropdown-main-menu {
        transform: scale(1, 1);
      }

      .dropdown-main:hover > a,
      .dropdown-main:focus > a {
        color: $teal;
      }

      .submenu-container {
        max-width: 1440px;
        margin: 0 auto;
      }

      // hover effect of the inside menu starts here
      .hoverable {
        border: none;
        height: 300px;
        background: rgba($body-bg, 0);
        transition: background 0.15s ease-in;

        .dropdown-submenu {
          padding-left: 0;

          & > .menu-item {
            display: block;
            width: 100%;
            padding-left: 4rem;
            border: 1px solid $teal;
          }

          .dropdown-submenu-item {
            text-align: left;
          }
        }

        &:hover,
        &:focus {
          background: rgba($body-bg, 1);

          & .menu-item {
            border: none;
          }

          & a {
            color: $black;

            &:hover,
            &:focus {
              color: $teal;
            }
          }
        }
      }

      .dropdown-engineering-menu,
      .dropdown-auto-menu {
        .hoverable {
          .dropdown-submenu {
            & > .menu-item {
              padding-left: 6.5rem;
            }
          }
        }
      }
    }
  }

  // SEARCH BUTTON AND SEARCH FIELD ON DESKTOP

  .search-bar.dropdown {
    position: static;

    .search-bar-hidden {
      form {
        min-height: 10rem;
      }
    }
  }
}
