/* STYLES FOR THE FOOTER, FOOTER IS THE SAME ON ALL PAGES */

.footer-icon-container {
  position: relative;

  .footer-icon {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: -2rem;
    margin-right: 1rem;
  }
}
.site-footer {
  background-color: $blue;
  width: 100%;

  & a {
    color: $white;
    font-size: 0.8rem;
    transition: all 0.4s ease;

    &:hover,
    &:focus {
      color: $teal;
      text-decoration: none;
      outline: none;
    }
  }

  h5 {
    font-size: 1rem;
    font-family: "Acari Sans Bold", sans-serif;
  }

  .companymail {
    font-size: 0.8rem;

    span {
      font-family: "Acari Sans Regular", sans-serif;
    }

    .footer-icon {
      height: 80%;
    }
  }
}

.logo {
  max-height: 10rem;

  img {
    width: auto;
    height: 100%;
  }
}

.address {
  p,
  .company-name {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}
.written-address {
  .company-name {
    font-family: "Acari Sans Bold", sans-serif;
  }
}
.contacts {
  ul {
    font-size: 0.8rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  span {
    font-family: "Acari Sans Bold", sans-serif;
    font-size: 0.9rem;
  }
}

/* STYLES FOR THE PART OF THE FOOTER WITH THE PROVACY POLICI AND SOCIAL MEDIA ICONS*/
.footer-copyright {
  border-top: 1px solid $white;
}

.copyright-social {
  font-size: 0.8rem;
  border-right: 1px solid $white;

  .facebook,
  .linkedin {
    opacity: 0;
    pointer-events: none;
  }
}

.copyright {
  .menu-item {
    border-left: 1px solid $white;
    margin-left: 0.8rem;
    padding-left: 0.8rem;
  }
}

.button-to-top {
  display: block;
  width: 2rem;
  height: 1.5rem;
  border: 0;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 1.2rem;
  margin-top: 0.5rem;
  span {
    display: none;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
  }
  .arrow-to-top {
    fill: $white;
  }
}
