.privacy-policy {
  h4 {
    position: relative;
    &:first-child {
      margin: 0 0 2rem 0;
    }
    &:before {
      display: inline-block;
      content: "";
      width: 3px;
      height: 2rem;
      background: $teal;
      position: absolute;
      top: 0;
      left: -1rem;
    }
  }

  h6 {
    font-size: 1.1rem;
    margin-top: 1rem;
  }
}
