---
layout: default
---

<nav class="sub-nav d-flex justify-content-center aling-items-center">
  <ul class="list-unstyled d-flex justify-content-center w-100 m-0">
    {% assign sublist = site.transport-systems | sort: "order" %} {% for product
    in sublist %}
    <li
      class="sub-nav-list h-100 px-5 d-flex
      {% if page.url contains product.folder and product.order == 1 %}current-sub-item{% endif %}"
    >
      <a
        href="{{ site.baseurl }}/{{ product.folder }}/{{ product.slug }}"
        class="text-uppercase align-self-center
          {% if page.url contains product.slug %}current-sub-item{% endif %}"
        >{{ product.subtitle }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>

<main class="catalog-page">
  <nav class="breadcrumb-nav" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Начало</a></li>
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/engineering.html">Инженеринг</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/transport-systems.html"
          >Транспортни системи</a
        >
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Лентови транспортни системи
      </li>
    </ol>
  </nav>
  {{ content }}
</main>
