/* HERE START THE ABOUT PAGE */

.about-main {
  margin-top: 4.3rem;

  h4 {
    font-family: "Axiforma Bold";
    margin: 2rem 0;

    &:first-child {
      margin: 0 0 1rem 0;
    }
  }

  h6 {
    font-family: "Axiforma Light";
    margin-bottom: 1.5rem;
  }
}

.mission {
  // position: relative;

  .mission-text {
    margin-top: 10rem;
    padding-right: 5rem;

    h2 {
      font-family: "Axiforma Bold";
    }

    h4 {
      font-family: "Axiforma Light";
      margin: 3rem 0;
    }
  }

  .mission-image {
    img {
      width: 100%;
      max-height: 90vh;
    }
  }
}

.p-detail {
  position: relative;
  &:before {
    display: inline-block;
    content: "";
    width: 3px;
    height: 2rem;
    background: $teal;
    position: absolute;
    top: 0;
    left: -1rem;
  }
}

/* STYLING THE BLOCKQUOTE */
.quote {
  margin: 15rem auto 10rem auto;

  blockquote {
    width: 80%;
    margin: 0 auto;
    position: relative;

    &:before {
      display: inline-block;
      content: '"';
      font-family: "Axiforma Bold";
      font-size: 250px;
      font-weight: 100;
      color: rgba($gray-900, 0.4);
      position: absolute;
      top: -130%;
      left: 40%;
    }
  }
}

.values-image {
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    padding-top: 50%;
  }

  img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.values-text {
  padding-left: 5rem;
}

/* STYLING THE SECTION WITH THE PARTNERS ON THE ABOUT PAGE */
.partners-about {
  padding: 5rem 0;
  background: linear-gradient(to bottom, $body-bg 50%, $teal 50%, $teal 100%);
}

.partners-cards {
  background: transparent;

  .card {
    // max-width: 23rem;
    border: none;
  }
}

.partners-card {
  flex: 0 0 23%;
  margin: 0 1rem;
  padding: 2rem;
  background-color: $body-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .image-container {
    position: relative;
    margin-bottom: 2rem;
    &:before {
      display: block;
      content: "";
      padding-top: 50%;
    }

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  p {
    font-weight: bold;
    font-size: 0.9rem;
  }
}
