/* HERE STARTS THE ABOUT PAGE */
.mission-text,
.values-text,
.partners-text {
  p {
    font-size: 0.9rem;
  }
}

.mission {
  .mission-mobile-image {
    img {
      width: 100%;
      height: auto;
    }
  }
  .mission-text {
    position: relative;

    h2 {
      background: url("../assets/img/about/mobile-about-1.jpg") center no-repeat;
      background-size: cover;
      text-align: center;
      width: 100%;
      height: 70vh;
      margin-top: 3.5rem;
      padding-top: 6rem;
      font-size: 1.5rem;
      color: $white;
      font-family: "Axiforma Bold";
      line-height: 1.5;
    }

    h4 {
      padding: 0 1rem;
      font-size: 1.25rem;
      text-transform: uppercase;
      font-family: "Axiforma Bold";
      margin: 2rem 0;
    }

    p {
      padding: 0 1rem;
    }
  }
}

.values-text {
  padding-left: 1rem;
  padding-right: 1rem;

  h4 {
    font-size: 1.25rem;
    font-family: "Axiforma Bold";
    margin: 2rem 0;
  }
}

.values-mobile-image {
  margin-bottom: 1.5rem;
  img {
    width: 100%;
    height: auto;
  }
}

p.decorative-text {
  font-size: 1rem;
  text-align-last: center;
  font-family: "Axiforma Light";
  color: $teal;
  position: relative;
  margin: 3rem 0;

  &:before {
    display: block;
    content: "";
    width: 5rem;
    height: 2px;
    background: $lines;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 992px) {
  .mission-text,
  .values-text,
  .partners-text {
    p {
      font-size: 1rem;
      text-align: justify;
    }
  }

  .about-main {
    margin-top: 4.3rem;
    h4 {
      font-size: 1.5rem;
      font-family: "Axiforma Bold";
      margin: 2rem 0 1.25rem 0;

      &:first-child {
        margin: 0 0 1rem 0;
      }
    }
  }

  .mission {
    .mission-text {
      margin-top: 10rem;
      padding-right: 5rem;

      h2 {
        background: none;
        height: auto;
        text-align: left;
        font-size: 2rem;
        color: $teal;
        font-family: "Axiforma Bold";
        line-height: 1.5;
        margin-top: 0;
        padding-top: 0;
      }

      h4 {
        font-size: 1.5rem;
        text-transform: none;
        font-family: "Axiforma Light";
        margin: 3rem 0;
        padding: 0;
      }

      p {
        padding: 0;
      }
    }

    .mission-image {
      img {
        width: 100%;
        max-height: 90vh;
      }
    }
  }

  .p-detail {
    position: relative;
    &:before {
      display: inline-block;
      content: "";
      width: 3px;
      height: 2rem;
      background: $teal;
      position: absolute;
      top: 0;
      left: -1rem;
    }
  }

  /* STYLING THE BLOCKQUOTE ON DESKTOP ONLY */
  .quote {
    margin: 15rem auto 10rem auto;

    blockquote {
      position: relative;
      text-align: justify;

      &:before {
        display: inline-block;
        content: '"';
        font-family: "Axiforma Bold";
        font-size: 200px;
        font-weight: 100;
        color: rgba($gray-900, 0.4);
        position: absolute;
        top: -110%;
        left: 40%;
      }
    }
  }

  .values-image {
    overflow: hidden;
    &:before {
      display: block;
      content: "";
      padding-top: 50%;
    }

    img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .values-text {
    padding-right: 1.5rem;
    padding-left: 5rem;
  }

  p.decorative-text {
    font-size: 1rem;
    text-align-last: initial;
    font-family: $font-family-base;
    color: $black;
    margin: 0;

    &:before {
      content: none;
    }
  }

  /* STYLING THE SECTION WITH THE PARTNERS ON THE DESKTOP ABOUT PAGE */
  .partners-about {
    padding: 5rem 0;
    background: linear-gradient(to bottom, $body-bg 50%, $teal 50%, $teal 100%);
  }

  .about-partners-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2.5rem;
    row-gap: 2.5rem;

    .card {
      border: none;
    }
  }

  .partners-card {
    padding: 1.5rem;
    background-color: $body-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .image-container {
      position: relative;
      margin-bottom: 2rem;
      &:before {
        display: block;
        content: "";
        padding-top: 40%;
      }

      img {
        width: 70%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    p {
      font-weight: bold;
      font-size: 0.9rem;
    }

    &:first-child,
    &:nth-child(4),
    &:nth-child(8) {
      img {
        width: 80%;
      }
    }
    &:nth-child(6) {
      img {
        width: 65%;
      }
    }

    &:nth-child(7) {
      img {
        width: 100%;
      }
    }
  }
}
