/* STYLING THE PAGES WITH MULTIPLE CATALOG ITEMS */
.main-product-page {
  border-top: 1px solid $lines;
  background-color: $card-bg;
}
.catalog-page {
  .catalog-page-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;

    .card-body {
      padding: 0.75rem;
    }

    .card-link {
      margin-left: 0;
      margin-bottom: 0;

      + .card-link {
        margin-left: 0;
      }

      .card {
        width: auto;
      }
    }
  }
}

.accent {
  background: $teal;
}

.accent-container {
  padding: 1.5rem 0;
}

.accent-heading {
  font-size: 1rem;
  text-align: center;
  font-family: "Axiforma Bold";
  padding: 0.5rem 0;
}

.accent-text {
  .accent-paragraph {
    color: $white;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .catalog-page {
    .main-catalog-page-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;
      row-gap: 2rem;
      margin-top: 3.5rem;
      margin-bottom: 10rem;

      .card-body {
        background-color: $teal;
        transition: background-color 0.4s ease-in-out;
      }

      .card-title {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        color: $white;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        transition: color 0.4s ease-in-out;
      }

      .card-link:hover .card-body,
      .card-link:focus .card-body {
        background-color: $blue;
      }

      .card-link {
        margin-left: 0;
        margin-bottom: 0;

        + .card-link {
          margin-left: 0;
        }

        .card {
          width: auto;
        }
      }
    }
    .catalog-page-grid {
      margin-top: 3.5rem;
      margin-bottom: 10rem;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 1.4rem;
      row-gap: 1.5rem;

      .card-body {
        padding: 1.25rem;
      }
    }
  }

  .accent-container {
    padding: 3rem 0;
  }

  .accent-heading {
    font-size: 1.85rem;
    text-align: left;
    padding: 1rem 0;
  }

  .accent-text {
    .accent-paragraph {
      width: 80%;
      margin-top: 4rem;
      text-align: justify;

      &:before {
        display: block;
        content: "";
        width: 6rem;
        height: 3px;
        background-color: $white;
        position: absolute;
        top: 2rem;
      }
    }
  }
}
