/* STYLING THE PAGES WITH MULTIPLE CATALOG ITEMS */

.catalog-page {
  .catalog-page-grid {
    margin-top: 3.5rem;
    margin-bottom: 10rem;
    .card-link {
      flex: 0 0 18.7%;
      margin-bottom: 1.25rem;

      @include each(6) {
        margin-left: 0;
      }

      .card {
        width: auto;
      }

      @media screen and (max-width: 1457px) {
        flex: 0 0 22%;
        .card-title,
        .card-text {
          font-size: 0.9rem;
        }
      }
    }
  }
}
.container-fluid {
  .accent {
    margin: 10rem auto;
  }
}

.accent-text {
  h4 {
    font-size: 1.75rem;
    font-family: "Axiforma Light";
    padding: 1rem 1.3rem;
    margin: 4.5rem 0;
  }
  .accent-paragraph {
    color: $gray-900;
    width: 80%;
  }
}

.accent-image {
  border: 1px solid $blue;
  .embed-responsive-item {
    width: 100%;
    height: auto;
  }
}
