/* STYLING THE PAGES WITH MULTIPLE CATALOG ITEMS */

.catalog-page {
  .catalog-page-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1.4rem;
    row-gap: 1.5rem;
    margin-top: 3.5rem;
    margin-bottom: 10rem;

    .card-link {
      margin-left: 0;
      margin-bottom: 0;

      + .card-link {
        margin-left: 0;
      }

      .card {
        width: auto;
      }
    }
  }
}
.container-fluid {
  .accent {
    margin: 10rem auto;
  }
}

.accent-text {
  h4 {
    font-size: 1.75rem;
    font-family: "Axiforma Light";
    padding: 1rem 1.3rem;
    margin: 4.5rem 0;
  }
  .accent-paragraph {
    color: $gray-900;
    width: 80%;
    text-align: justify;
  }
}

.accent-image {
  border: 1px solid $blue;
  .embed-responsive-item {
    width: 100%;
    height: auto;
  }
}
