/* STYLING THE INDIVIDUAL PRODUCT FROM THE CATALOG PAGE*/
.container-catalog-item {
  // padding: 1rem 0;
}

.catalog-item-text {
  margin-bottom: 8rem;
}

.catalog-item-title {
  margin-bottom: 4rem;
  border-left: 3px solid $teal;
  padding-left: 1rem;
}

.catalog-item-paragraph {
  width: 80%;
  color: $gray-900;
  line-height: 1.7;
}

.catalog-item-download,
form {
  margin-bottom: 5rem;
  color: $gray-900;
  a {
    color: $gray-900;
    font-size: 1.1rem;

    .pdf-icon {
      transition: opacity 200ms ease-in-out;
      opacity: 1;
    }
    .arrow-icon {
      opacity: 0;
      transition: opacity 200ms ease-in-out;
    }

    &:hover {
      color: $teal;
      text-decoration: none;

      .arrow-icon {
        opacity: 1;
      }

      .pdf-icon {
        opacity: 0;
      }
    }
  }
}

.catalog-item {
  form {
    input,
    button {
      border: none;
      outline: none;
      font-size: 0.9rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    input {
      width: 15rem;
      background: darken($body-bg, 10%);
      padding-left: 0.7rem;
    }

    button {
      background: $teal;
      color: $white;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

.download-image {
  position: relative;
  margin-right: 3rem;

  &:before {
    display: inline-block;
    content: "";
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: $teal;
    padding-top: 100%;
  }
  img {
    width: auto;
    height: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.download-form {
  span {
    margin-bottom: 1rem;
    &:first-child {
      font-size: 1.1rem;
    }
    font-size: 0.8rem;
  }
}

.catalog-item-image {
  height: 90%;
  border: 1px solid $blue;
}

.codes {
  margin-top: 10rem;
  margin-bottom: 5rem;

  .row {
    padding: 0.5rem 2rem;
    margin-bottom: 0.3rem;
    background: $card-bg;

    span {
      margin: 0 0.3rem;
      font-size: 0.8rem;
      color: $gray-900;
    }
  }
}
