/* STYLES FOR THE CONTACT PAGE */

.contacts-header {
  background: linear-gradient(to bottom, $blue 30%, $teal 100%);
  min-height: 45vh;
  margin-top: 4.3rem;

  h1 {
    font-size: 2rem;
  }
  h1,
  h2 {
    text-align: center;
    margin: 3rem 0 5rem 0;
  }
  // h2 {
  //   color: $teal;
  //   font-family: "Axiforma Light", sans-serif;
  //   margin-bottom: 4rem;
  // }
  h5 {
    font-family: "Axiforma Semibold", sans-serif;
    margin-bottom: 1.25rem;
  }

  .companymail {
    font-size: 1.1rem;
    display: block;
    width: 100%;
    margin-top: 2.5rem;
  }
}

.contact-address,
.office-contacts {
  border-right: 1px solid $white;
}

.tech-consultants,
.contact-address,
.office-contacts {
  p {
    font-family: "Acari Sans SemiBold", sans-serif;
    margin-bottom: 0.25rem;
  }
}

.map-link {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 4rem;
  border: 1px solid $white;
  margin-top: 1.5rem;

  &:hover {
    text-decoration: none;
    background: $blue;
    border: 1px solid $blue;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    .companymail {
      font-size: 1.15rem;
      width: 80%;
      margin: 0 auto;
      margin-top: 2.5rem;
    }
  }

  .map-link {
    width: 80%;
  }
}
@media screen and (min-width: 1300px) {
  .map-link {
    width: 70%;
  }
}
@media screen and (min-width: 1400px) {
  .contacts-header {
    .companymail {
      font-size: 1.25rem;
      width: 60%;
    }
  }

  .map-link {
    width: 60%;
  }

  .tech-consultants,
  .contact-address,
  .office-contacts {
    p {
      margin-bottom: 0.75rem;
    }
  }
}
@media screen and (min-width: 1600px) {
  .map-link {
    width: 50%;
  }
}

.contact-form-message {
  color: $teal;
  line-height: 1.6;
  font-family: "Axiforma Light";
  width: 60%;
  margin: 3.5rem auto;
  text-align: center;
}

.contact-form {
  padding: 1rem 4.5rem 8rem 4rem;

  input {
    color: $teal;
  }

  textarea:focus,
  input:focus {
    color: $teal;
    box-shadow: none;
  }

  input,
  textarea {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid $gray-900;
    margin-bottom: 2rem;
  }

  textarea {
    color: $teal;
    resize: none;
    border-left: 1px solid $gray-900;
  }

  button {
    border: none;
    outline: none;
    background: $teal;
    padding: 1rem 4rem;
    float: right;
  }
}
