/* HERE START THE STYLES FOR THE HOME PAGE */
.carousel-item {
  position: relative;
  .row {
    max-width: 1440px;
    margin: 0 auto;
    // position: relative;
  }
}
.carousel-caption {
  position: absolute;
  top: -100%;
  left: 0%;
  right: 100%;
  bottom: 0;
  text-align: left;
}

// .banner {
//   background: url("../assets/img/home/glavna\ 1.jpg") center no-repeat;
//   background-size: cover;
//   height: 75vh;
//   margin-bottom: 0;
//   margin-top: 0;
//   @media screen and (min-width: 992px) {
//     margin-top: 4rem;
//   }
// }

/* STYLING THE SECTION WITH SERVICES */
.services {
  position: relative;
  background: linear-gradient(to right, $body-bg 50%, $blue 50%);

  h2 {
    font-family: "Axiforma Light", sans-serif;
    position: absolute;
    top: -7rem;
    left: 1rem;
    font-weight: 300;
  }

  ul {
    padding: 2rem 0 1rem 1rem;
  }

  h5 {
    font-family: "Axiforma Light", sans-serif;
    position: absolute;
    top: -2.5rem;
    left: 1rem;
    font-weight: 300;
  }

  li {
    margin-bottom: 1rem;
  }
}

/*STYLING THE SECTION WITH THE THREE MODULES, WHICH ACT AS A SECONDARY MENU ON THE FRONT PAGE */

.secondary-menu {
  min-height: 90vh;
  margin-bottom: 2rem;
  .row {
    height: 90vh;
  }
}

.products,
.engineering,
.auto-industry {
  height: 100%;
}

.products,
.engineering,
.auto-industry {
  padding-top: 5rem;
  position: relative;
  background-image: linear-gradient(to bottom, $body-bg, $body-bg);
  z-index: 1;

  .wrapper {
    height: 100%;
    border: none;
    border-right: 1px solid $lines;

    ul {
      display: none;

      li {
        position: relative;
        &:before {
          display: inline-block;
          content: "";
          height: 3px;
          width: 4.5rem;
          background: $white;
          position: absolute;
          top: 40%;
          right: 102%;
          transform: scale(0, 1);
          transform-origin: right top;
          transition: transform 200ms ease-in;
        }

        &:hover {
          transform: translateX(2rem);
        }
        &:focus::before,
        &:hover::before {
          transform: scale(1, 1);
        }

        a {
          color: $white;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .menu-header {
    max-height: 20rem;
    padding-left: 2rem;
    position: relative;
    margin-bottom: 3rem;

    h4 {
      color: $black;
      margin-bottom: 2rem;
      font-family: "Axiforma Bold", sans-serif;
      font-weight: 700;
    }

    &:after {
      display: block;
      content: "";
      padding-top: 20%;
    }

    img {
      width: auto;
      height: 100%;
      position: absolute;
      top: 0;
      left: 5%;
      margin-top: 3rem;
    }
  }

  .product-picture {
    position: relative;
    overflow: hidden;
    &:after {
      display: block;
      content: "";
      padding-top: 90%;
    }

    img {
      z-index: 2000;
      width: 70%;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 0;
      transition: transform 200ms ease-in-out;
    }
    .engineering-picture {
      width: 60%;
    }

    .auto-picture {
      width: auto;
      height: 100%;
    }
  }

  //WHEN EACH OF THE MODULES IS HOVERED - DO THESE
  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, $blue, $teal);
    z-index: -1;
    transition: opacity 200ms ease-in-out;

    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
    color: $white;
  }

  &:hover .menu-header {
    h4 {
      color: $white;
    }
  }

  &:hover .product-picture {
    img {
      transform: translateY(-2rem) scale(1.1);
    }
  }

  &:hover ul {
    display: block;
  }
}

/* THE SECTIONS WITH THE ADVANTAGES, NEWS AND PARTNERS HAVE THE SAME STYLING FOR THE HEADING  */
.advantages,
.news,
.partners {
  h3 {
    font-family: "Axiforma Light", sans-serif;
    font-weight: 300;
    color: $teal;
    margin-bottom: 5rem;

    &:before {
      display: inline-block;
      content: "";
      width: 4px;
      height: 1rem * 1.75;
      background-color: $teal;
      margin-right: 0.5rem;
    }
  }
}

/* STYLING THE SECTION WITH THE ADVANTAGES ON THE MAIN PAGE */

.advantages {
  position: relative;
  margin-bottom: 8rem;
}

.advantage-text {
  ul {
    text-align: center;
    li {
      color: $gray-900;
      flex: 0 0 33%;
      padding: 0 5.5rem;
      border-right: 1px solid $gray-900;

      &:last-child {
        border-right: none;
      }
      .image-ratio-container {
        position: relative;
        overflow: hidden;

        &:before {
          display: block;
          content: "";
          padding-top: 50%;
        }

        img {
          width: 25%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      div {
        // flex: 0 0 50%;
        h6 {
          color: $black;

          font-family: "Acari Sans Bold", sans-serif;
        }
      }
    }
  }
}

// .advantage-image {
//   img {
//     width: 50%;
//     height: auto;
//     position: absolute;
//     top: 7rem;
//     right: 0;
//   }
// }

/* STYLING THE SECTION WITH THE NEWS ON THE MAIN PAGE*/

.news {
  min-height: 70vh;
  background: linear-gradient(to bottom, $body-bg 50%, $blue 50%, $blue 100%);
}

/* STYLING THE SECTION WITH THE PARTNERS ON THE MAIN PAGE  */

.partners {
  padding: 5rem 0;

  .image-container {
    flex: 0 0 20%;
    position: relative;
    overflow: hidden;

    &:before {
      display: inline-block;
      content: "";
      padding-top: 50%;
    }

    img {
      width: 80%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
