.jumbotron {
  background: url("../assets/img/home/photo 1.jpg") center no-repeat;
  background-size: cover;
  height: 50vh;
}

.container-fluid {
  .services {
    position: relative;
    background: linear-gradient(to right, $body-bg 50%, $blue 50%);

    h2 {
      font-family: "Axiforma Light", sans-serif;
      position: absolute;
      top: -5rem;
      left: 1rem;
      font-weight: 300;
    }

    ul {
      padding: 2rem 0 1rem 1rem;
      h5 {
        font-family: "Axiforma Light", sans-serif;
        position: absolute;
        top: -1.8rem;
        left: 1rem;
        font-weight: 300;
      }

      li {
        margin-bottom: 1rem;
      }
    }
  }

  .secondary-menu {
    min-height: 70vh;
    margin-bottom: 2rem;
    .row {
      height: 70vh;
      .products {
        background: url("../assets/img/home/producti.png") center right
          no-repeat;

        &:hover {
          background: url("../assets/img/home/producti.png") center right
              no-repeat,
            linear-gradient(to bottom, $blue, $teal);
          color: $white;
        }
      }

      .engineering {
        background: url("../assets/img/home/injenering.png") center right
          no-repeat;

        &:hover {
          background: url("../assets/img/home/injenering.png") center right
              no-repeat,
            linear-gradient(to bottom, $blue, $teal);
          color: $white;
        }
      }

      .auto-industry {
        background: url("../assets/img/home/avto.png") center right no-repeat;
        background-size: 30%;

        &:hover {
          background: url("../assets/img/home/avto.png") center right no-repeat,
            linear-gradient(to bottom, $blue, $teal);
          color: $white;
          background-size: 30%;
        }
      }
      .products,
      .engineering {
        background-size: 70%;
        height: 100%;

        &:hover {
          background-size: 70%;
        }
      }

      .products,
      .engineering,
      .auto-industry {
        padding-top: 5rem;

        .wrapper {
          height: 100%;
          border: none;
          border-right: 1px solid $lines;

          .menu-header {
            max-height: 5rem;
            padding-left: 2rem;
            h4 {
              font-family: "Axiforma Bold", sans-serif;
              font-weight: 700;
            }

            img {
              width: 50%;
              height: auto;
            }
          }

          ul {
            display: none;

            li {
              position: relative;
              &:before {
                display: inline-block;
                content: "";
                height: 3px;
                width: 5rem;
                background: $white;
                position: absolute;
                top: 40%;
                right: 102%;
                transform: scale(0, 1);
                transform-origin: right top;
                transition: transform 200ms ease-in;
              }

              &:hover {
                transform: translateX(2rem);
              }
              &:focus::before,
              &:hover::before {
                transform: scale(1, 1);
              }

              a {
                color: $white;

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }

        &:hover ul {
          display: block;
        }
      }
    }
  }

  .advantages,
  .news,
  .partners {
    h3 {
      font-family: "Axiforma Light", sans-serif;
      font-weight: 300;
      color: $teal;
      margin-bottom: 2rem;

      &:before {
        display: inline-block;
        content: "";
        width: 4px;
        height: 1rem * 1.75;
        background-color: $teal;
        margin-right: 0.5rem;
      }
    }
  }

  .advantages {
    position: relative;
    margin-bottom: 8rem;

    .advantage-text {
      ul {
        li {
          flex-basis: 45%;

          img {
            align-self: center;
            width: 25%;
            height: auto;
          }

          h6 {
            font-family: "Acari Sans Bold", sans-serif;
          }
        }
      }
    }

    .advantage-image {
      img {
        width: 50%;
        height: auto;
        position: absolute;
        top: 4rem;
        right: 0;
      }
    }
  }

  .news {
    min-height: 70vh;
    background: linear-gradient(to bottom, $body-bg 50%, $blue 50%, $blue 100%);

    .carousel-header {
      .tabs-item {
        align-self: flex-start;
        position: relative;
        &:last-child {
          border-left: 2px solid $gray-900;
          margin-left: 0.8rem;
          padding-left: 0.8rem;
        }

        a {
          // color: $gray-900;
          &:hover {
            color: $teal;
            text-decoration: none;
          }
        }
      }

      .active-tab {
        a {
          color: $teal !important;
        }
      }
      .see-all {
        position: relative;
        margin-left: auto;
        margin-right: 8rem;
        color: $gray-900;
        &:hover {
          color: $teal;
          text-decoration: none;
        }
        &:before {
          display: inline-block;
          content: "";
          width: 1rem * 1.75;
          height: 2px;
          background-color: rgba($gray-900, 0.5);
          margin-right: 0.5rem;
          position: absolute;
          top: 50%;
          left: -50%;
          transform: translateY(-50%);
        }
      }
      .pages {
        padding: 1rem;

        width: 8.5rem;
        background: $teal;

        .carousel-button {
          width: 100%;
          background: transparent;
          color: $white;
          border: 0;
          outline: none;
          cursor: pointer;

          &:before {
            display: inline-block;
            content: "";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 1.5rem;
          }
        }
        .carousel-button--left::before {
          content: "\f053";
        }

        .carousel-button--right:before {
          content: "\f054";
        }

        .page-left,
        .page-right {
          font-family: "Axiforma Medium";
          font-size: 1.2rem;
        }

        .page-right {
          border-left: 2px solid $white;
          margin-left: 0.8rem;
          padding-left: 0.8rem;
        }
      }
    }

    .carousel-events {
      display: none;
    }

    .carousel-products,
    .carousel-events {
      width: 100%;
      height: 40vh;
      margin: 0 auto;
      position: relative;

      .carousel-track-container {
        width: 100%;
        height: 90%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        // background: #000;

        .carousel-track {
          height: 100%;
          position: relative;
          transition: transform 250ms ease-in;

          .carousel-item {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }

    .carousel-nav {
      margin-top: 2rem;
      padding: 1em 0;

      .carousel-indicator {
        width: 1rem;
        height: 1rem;
        background: $white;
        border: 0;
        outline: none;
        border-radius: 50%;
        margin: 0 0.5rem;
        cursor: pointer;

        &.current-slide {
          background: $teal;
        }
      }
    }
  }

  .partners {
    padding: 5rem 0;
    img {
      width: 100%;
      height: auto;
    }
  }
}
