/* STYLES FOR THE PAGES WITH NEWS CARDS */

.news-page {
  .news-page-grid {
    padding: 2rem 1rem;
    .card-link {
      width: 100%;
    }
  }
}

.see-more-news {
  display: block;
  width: 50%;
  text-align: center;
  color: $teal;
  border: 1px solid $teal;
  padding: 0.75rem 0;
  margin: 0.5rem auto 1.75rem auto;

  &:hover,
  &:focus {
    color: $white;
    background: $teal;
    text-decoration: none;
  }
}

@media screen and (min-width: 992px) {
  .news-page {
    .news-page-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1.5rem;
      row-gap: 1.5rem;
      margin-top: 5rem;
      margin-bottom: 5rem;
      padding: 2rem 0;
      .card-link {
        margin-left: 0;
        margin-bottom: 0;

        + .card-link {
          margin-left: 0;
        }

        .card {
          width: auto;

          .card-body {
            padding: 0.9rem;
          }
          .card-title {
            margin: 0;
          }
        }
      }
    }
  }
}

/* STYLING OF THE SEE ALL BUTTON ON THE NEWS PAGE */
.see-all-news {
  font-size: 0.8rem;
  color: $gray-900;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  svg {
    width: 1.5rem;
    height: 1rem;
  }
  .button-fill {
    fill: $gray-900;
  }

  &:hover,
  &:focus {
    color: $teal;
    text-decoration: none;
  }
}
@media screen and (min-width: 992px) {
  .see-all-news {
    position: relative;
    margin-left: 2rem;
    color: $black;
    &:hover,
    &:focus {
      color: $teal;
      text-decoration: none;
      outline: none;
    }
    &:before {
      display: inline-block;
      content: "";
      width: 1rem * 1.75;
      height: 2px;
      background-color: rgba($gray-900, 0.5);
      margin-right: 0.5rem;
      position: absolute;
      top: 50%;
      left: -50%;
      transform: translateY(-50%);
    }
  }
}

/* STYLES FOR THE PAGES WITH NEWS ARTICLES */
h5.news-item-title {
  font-size: 1.15rem;
  line-height: 1.5;
  color: $black;
  text-align: center;
  padding: 1rem;
}
.container-news-item {
  padding-top: 1.5rem;

  .carousel-item {
    min-height: 90vh;
  }
}
.news-item {
  font-size: 0.9rem;
  margin-bottom: 5rem;
  .news-item-date {
    position: absolute;
    top: -5%;
    color: $teal;
    font-weight: bold;
  }
  .news-item-paragraph {
    color: $gray-900;
  }

  .social-media-list {
    .menu-item {
      &::before {
        display: inline-block;
        content: "";
        font-family: "Font Awesome 5 Brands";
        font-size: 0.9rem;
        color: $white;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.fa-facebook::before {
        content: "\f39e";
        background: #3c5a99;
        margin-right: 2rem;
      }

      &.fa-linkedin::before {
        content: "\f0e1";
        background: #0077b5;
      }

      &:hover:before {
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .news-item {
    padding: 0;
    font-size: 1rem;

    h4.news-item-title {
      color: $black;
      line-height: 1.7;
      font-size: 1.3rem;
      margin-bottom: 3rem;
      border-left: 3px solid $teal;
      padding-left: 1rem;
    }

    .news-item-date {
      position: static;
    }

    .news-item-image {
      position: absolute;
      right: 0;
    }

    .news-item-paragraph {
      text-align: justify;
    }
    .social-media-list {
      .menu-item {
        &::before {
          font-size: 1.1rem;

          width: 2rem;
          height: 2rem;
        }

        &:hover:before {
          text-decoration: none;
        }
      }
    }
  }
}
